{% extends 'publicpages/header.html' %}
{% load staticfiles %}
{% load daguerre %}
{% block content %}



    <!--Start breadcrumb area-->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Events Grid</h1>
                    <h4>Our Events Gallery</h4>
                </div>
            </div>
        </div>
    </section>
    <!--End breadcrumb area-->

    <!--Start upcoming event area-->
    <section class="event-grid-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <ul class="event-gallery-filter">
                        <li data-filter="all" class="filter active">
                            <span>All</span>
                        </li>
                        <li data-filter=".comedy" class="filter">
                            <span>COMEDY</span>
                        </li>
                        <li data-filter=".entertainment" class="filter">
                            <span>ENTERTAINMENT</span>
                        </li>
                        <li data-filter=".sport" class="filter">
                            <span>sports</span>
                        </li>
                        <li data-filter=".outdoor" class="filter">
                            <span>OUTDOOR</span>
                        </li>
                        <li data-filter=".festival" class="filter">
                            <span>FESTIVAL</span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <div class="showing-page pull-right">
                        <p>showing page 2 of 14</p>
                    </div>
                </div>
            </div>
            <div class="row event-gallery-content" data-filter-class="filter">
                <!--Start single upcoming event item-->
                <ul>
                {% for e in events|slice:"0:6" %}
                <li>
                <div class="col-md-4 col-sm-4 col-xs-12 mix comedy sport">

                        <div class="single-upcoming-event-item">
                            <div class="img-holder">
                                <img src="{% adjust e.photo 'fit' width='371' height='172' %}" alt="Awesome Image">
                            </div>
                            <div class="content">
                                <h5>{{ e.name|upper }}</h5>

                                <p>{{ e.details|safe|linebreaks|truncatechars:150 }}</p>
                                <ul>
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-bookmark" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                            <div class="readmore">
                                <a href="/events/{{ e.slug }}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>

                </div>
                </li>
                {% endfor %}
                </ul>


                <!--End single upcoming event item-->

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="paginations text-center">
                        <ul>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End upcoming event area-->

{% endblock %}