{% extends 'publicpages/header.html' %}
{% load staticfiles %}
{% load daguerre %}



{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'assets/' %}spaced.css">
<link rel="stylesheet" type="text/css" href="{% static '' %}assets/lightbox.min.css">
 



<!--start section-->
<section class="">

    <!--start nicdark_container-->
    <div class="">
    <div><!--remove if you want to enable the section in the line above-->
    {% for p in gallery_list %}
    <a href="{% adjust p.photo "fit" %}" data-lightbox="gallery">
    <img src="{% adjust p.photo "fit" %}" class="imgspaced" />
    </a>
    {% endfor %}
    </div>
    </div>
    <!--end nicdark_container-->
            
</section>
<!--end section-->







{% endblock %}