{% extends 'header.html' %}
{% load staticfiles %}
{% load daguerre %}
{% block content %}


    
<!--Start breadcrumb area-->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>About Us</h1>
                <h4>Afron Concept International</h4>
            </div>
        </div>
    </div>
</section> 
<!--End breadcrumb area-->
 
<!--Start our history area-->
<section class="our-history-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="text">
                    <div class="section-title-2">
                        <h1><span>Who We are</span></h1>
                    </div>
                    <p>AFRON CONCEPT INTERNATIONAL LTD as a highly professional global event company that specializes in business-to-business, regional and international conferences, workshops, master classes and training. We are also primary providers of interpretation, translation and conference services in Nigeria with our corporate head office in Abuja.

We providing quality translations and interpretation to technical, legal, medical, Bio-medical, Pharmaceutical, Socio-Political, Religious and Business clientele into English, French, German, Portuguese, Italian and Arabic throughout Nigeria and beyond.
We are one of the best event planning companies in Nigeria with expertise in event production services that meet all client needs.
</p>
                    <a href="/services/">check our services</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
            {% for g in galleries|slice:"0:1" %}
                <div class="img-holder">
                    <img src="{{  g.photos.url  }}" alt="{{g.title}}">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!--End our history area-->
    
<!--Start what we do area-->
<section class="why-choose-and-progress-area what-we-do-area">
	<div class="container">
        <div class="section-title text-center">
            <h1>What We Do</h1>
            <div class="icon-holder">
                <img alt="" src="{% static 'assets/' %}img/resources/section-title-icon.png">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="what-we-do-content">
                    <ul>
                        {% for s in services %}
                        <li class="clearfix">
                            <div class="icon-holder">
                                <img src="{% static '' %}img/resources/icon/event-icon-1.png" alt="">
                            </div>
                            <div class="content">
                                <h4>{{ s.title|title }}</h4>
                                <p>{{ s.description|safe }} </p>
                            </div>
                        </li>

                        {% endfor %}

                    </ul>   
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="progress-bars">
                    <!--Start single progress bar item-->
                    <div class="progress-label">
                        <h4>Bilingual Secretarial</h4>
                    </div>
                    <div class="progress slim progress-striped">
                        <div style="width: 90%;" data-appear-progress-animation="90%" class="progress-bar progress-bar-primary 90% animation-visible">
                            <span style="opacity: 1;" class="progress-bar-tooltip">98%</span>
                        </div>
                    </div>
                    <!--End single progress bar item-->
                    <!--Start single progress bar item-->
                    <div class="progress-label">
                        <h4>Event Management</h4>
                    </div>
                    <div class="progress slim progress-striped">
                        <div style="width: 92%;" data-appear-progress-animation="92%" class="progress-bar progress-bar-primary event-management 92% animation-visible">
                            <span style="opacity: 1;" class="progress-bar-tooltip">92%</span>
                        </div>
                    </div>
                    <!--End single progress bar item-->
                    <!--Start single progress bar item-->
                    <div class="progress-label">
                        <h4>Conference / Seminars</h4>
                    </div>
                    <div class="progress slim progress-striped">
                        <div style="width: 72%;" data-appear-progress-animation="72%" class="progress-bar progress-bar-primary 72% animation-visible">
                            <span style="opacity: 1;" class="progress-bar-tooltip">72%</span>
                        </div>
                    </div>
                    <!--End single progress bar item-->
                    <!--Start single progress bar item-->
                    <div class="progress-label">
                        <h4>event venue & logistics</h4>
                    </div>
                    <div class="progress slim progress-striped">
                        <div style="width: 84%;" data-appear-progress-animation="84%" class="progress-bar progress-bar-primary 84% animation-visible">
                            <span style="opacity: 1;" class="progress-bar-tooltip">92%</span>
                        </div>
                    </div>
                    <!--End single progress bar item-->
                </div>
            </div>
        </div>
	</div>
</section>
<!--End what we do area-->
    
    
<!--Start news letter area-->
{% include 'rfq.html' %}
<!--End news letter area-->
    
<!--Start our speaker area-->
<section class="our-speaker-area">
    <div class="container-fluid">

        <div class="section-title text-center">

            <p>Here are some of the best pictures from our events</p>
            <div class="icon-holder">
                <img src="{% static 'assets/' %}img/resources/section-title-icon.png" alt="Awesome Image">
            </div>
        </div>
        <div class="speaker-carousel owl-carousel owl-theme">
        {% for g in galleries %}
            <div class="item">

                <div class="single-speaker-carousel">
                    <img src="{{   g.photos.url }}" alt="Awesome Image"/>
                    <div class="overlay">
                        <div class="box">
                            <div class="content">
                                <div class="speaker-infos clearfix">
                                    <div class="left-info pull-left">
                                        <span>{{ g.date }}</span>
                                        <h4>{{ g.title }}</h4>
                                    </div>
                                    <div class="right-button pull-right">
                                        <a href="#">+</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}





        </div>

    </div>
</section>
<!--End our speaker area-->
    

    
<!--Start client logo area-->
<section class="brand-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="brand-carousel owl-theme">
                    <div class="single-item">
                        <a href="#"><img src="img/brand/1.png" alt="Awesome Brand Image"></a>    
                    </div>
                    <div class="single-item">
                        <a href="#"><img src="img/brand/2.png" alt="Awesome Brand Image"></a>    
                    </div> 
                    <div class="single-item">
                        <a href="#"><img src="img/brand/3.png" alt="Awesome Brand Image"></a>    
                    </div> 
                    <div class="single-item">
                        <a href="#"><img src="img/brand/4.png" alt="Awesome Brand Image"></a>    
                    </div> 
                    <div class="single-item">
                        <a href="#"><img src="img/brand/5.png" alt="Awesome Brand Image"></a>    
                    </div> 
                </div>    
            </div>    
        </div>    
    </div>
</section>
    
{% endblock %}