{% extends 'header.html' %}
{% load staticfiles %}
{% load daguerre %}
{% block content %}
    
<!--Start breadcrumb area-->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Contact Us</h1>
                <h4>Feel free to send us messages, feedbacks and make inquiries.</h4>
            </div>
        </div>
    </div>
</section> 
<!--End breadcrumb area-->
    
<!--Start contact info area-->
<section class="contact-info-area">
    <div class="">
        <div class="">
            <div class="">
                <div class="contact-info">
                    <ul>
                        <li class="clearfix">
                            <div class="icon-holder">
                                <img src="{% static 'assets/' %}img/contact/icon-1.png" alt="">
                            </div>
                            <div class="text">


                                <h6>Abuja Office
Suite D-02 Efab Shopping Mall (ext).
Plot 404 Ahmadu Bello Way, off Gimbiya Street
Area 11, Garki- Abuja

</h6>

                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="icon-holder">
                                <img src="{% static 'assets/' %}img/contact/icon-2.png" alt="">
                            </div>
                            <div class="text">
                                <h6>+234 817 74001893, +234 803 977 7175</h6>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="icon-holder">
                                <img src="{% static 'assets/' %}img/contact/icon-3.png" alt="">
                            </div>
                            <div class="text">
                                <h6>info@afronevents.com</h6>
                            </div>
                        </li>
                    </ul>    
                </div>        
            </div>    
        </div>    
    </div>
</section>


    <!--Start contact info area-->
<section class="contact-info-area">
    <div class="">
        <div class="">
            <div class="">
                <div class="contact-info">
                    <ul>
                        <li class="clearfix">
                            <div class="icon-holder">
                                <img src="{% static 'assets/' %}img/contact/icon-1.png" alt="">
                            </div>
                            <div class="text">

                                <h6>

Lagos Office
Plot 29 Taiye Salawu Street,
Lekki-Epe Expressway
Lagos.
</h6>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="icon-holder">
                                <img src="{% static 'assets/' %}img/contact/icon-2.png" alt="">
                            </div>
                            <div class="text">
                                <h6>+234 806 055 2525, +234 807 783 9614</h6>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End contact info area-->
    
<!--Start google map area-->
<section class="google-map-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="google-map" id="contact-page-google-map" data-icon-path="{% static 'assets/img/resources/map-marker.png' %}" data-map-lat="9.098112" data-map-lng="7.504388" data-map-zoom="10" data-map-title="AFRON INTERNATIONAL CONCEPT"></div>
            </div>
        </div>
    </div>
</section>   
<!--End google map area-->
    
<!--Start contact form area-->
<section class="contact-form-area">
    <div class="container">
        <form class="contact-form cf-validation" action="{% url 'pages:contact' %}">
        {% csrf_token %}
            <div class="row">
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="field-label">Name<span class="req">*</span></div>
                    <input type="text" name="name" placeholder="enter your name">
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="field-label">EMAIL ADDRESS<span class="req">*</span></div>
                    <input type="text" name="email" placeholder="enter your email">
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="field-label">PHONE NUMBER</div>
                    <input type="text" name="phone" placeholder="enter your phone number">
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="field-label">SUBJECT<span class="req">*</span></div>
                    <input type="text" name="subject" placeholder="subject">
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <div class="field-label">MESSAGE<span class="req">*</span></div>
                    <textarea name="message" placeholder="write a message"></textarea>
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <button type="submit" name="submit" class="send-message">SEND MESSAGE<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
</button>
                </div>
                
            </div>
        </form>
    </div>
</section>
        
<!--End contact form area-->
    
{% endblock %}