{% extends 'header.html' %}
{% load staticfiles %}
{% load daguerre %}
{% block content %}



<!--Start breadcrumb area-->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1></h1>
                <h4></h4>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start our history area-->
<section class="our-history-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="text">
                    <div class="section-title-2">
                        <h1><span>Our Services</span></h1>
                    </div>
                    <p>In the past 11 years, Afron Concept International Ltd has developed one of the most efficient modules for conceptualizing, planning and implementing top level events. We have been able to build an efficient, cohesive and professional team that can perform under pressure and ensure the smooth coordination of events.
                      To achieve a world class event, we have various services which include;
                     <ul>
                       <li>*	Conference translations and interpretation</li>
                       <li>*	Bilingual Secretarial Services</li>
                       <li>*	Leasing of Conference servicing equipments and stationeries</li>
                       <li>*	Multilingual Brand Management</li>
                       <li>*	Event Technology</li>
                       <li>*	Website localization</li>
                       <li>*	Provision of Professional Conference Hostesses</li>
                       <li>*	Conference/Event Planning and Management</li>
                       <li>*	Digital delegates registration</li>
                     </ul>
                    </p>

                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="text">
                    <div class="section-title-2">
                        <h1><span>Event Management</span></h1>
                    </div>
                    <p>We in Afron recognize that a successful event starts with the planning. However understanding your organization and the objectives/goals you intend to achieve lays the foundation for a bespoke event that delivers great experience and result.
                    Hence our aim is to focus on you/your organization mission and then deliver strategic components for the event. We provide bespoke professional event management and support services for your Corporate, Diplomatic, Social, Biz-2-biz meeting/Conference.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End our history area-->




<!--Start news letter area-->
{% include 'rfq.html' %}
<!--End news letter area-->


<!--Start our history area-->
<section class="our-history-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="text">
                    <div class="section-title-2">
                        <h1><span>Translation/Simultaneous Conference Interpretation</span></h1>
                    </div>
                    <p>To achieve a seamless discussion and understanding in conference and translation service, we carefully hand-select the most accomplished and accredited conference interpreters/translators who are top professionals in their respective fields and most native
                    speakers of the target language. With each project, their goal is to provide services that ensure accuracy, correct grammar and style.

                    Our translators consist of bilingual attorneys, doctors, clergies, engineers, scientists, financial experts, as well as academicians and members of the diplomatic community, all freelance translators and interpreters before joining AFRON CONCEPT INTERNATIONAL LTD.
                    </p>

                </div>
                {% for g in request.Gallery|slice:"5:6" %}
                <div class="img-holder">
                    <img src="{% adjust g.photo 'fit' width='571' height='351' %}" alt="Awesome Image">
                </div>
                {% endfor %}
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="text">
                    <div class="section-title-2">
                        <h1><span>Event Technology</span></h1>
                    </div>
                    <p>The event industry has revolutionized in the last decade thanks to technology advancement and integration from planning, implementation, coordination through to production.
                     Yearly, latest technology designs and functionalities are introduced to power various level of events from concerts, shows, social gatherings, corporate and business events, conferences, etc.
                     Afron Concept International Ltd offer our clients with the latest cutting edge Event technologies alongside qualified and experienced technicians to deliver a quality, unforgettable real life audio and visual experience.
                     Various high specification event/conference technology available for rent includes:

                    <ul>
                       <li><span class="glyphicon glyphicon-ok">	Infrared simultaneous interpretation equipment.</span></li>
                       <li><span class="glyphicon glyphicon-ok">    Desktop Computers, laptops.</span></li>
                       <li><span class="glyphicon glyphicon-ok">    Laser printers with consumables (Toner, paper, etc.)</span></li>
                       <li><span class="glyphicon glyphicon-ok">    Multi-functional Photocopying machines with sorter & stapling functions.</span></li>
                       <li><span class="glyphicon glyphicon-ok">    Multimedia Projector with screen, Plasma Televisions.</span></li>
                       <li><span class="glyphicon glyphicon-ok">    Sound system with Mixer for quality sound output.</span></li>
                       <li><span class="glyphicon glyphicon-ok">    Leasing of Wall Charts, Audio Visual Materials, Projectors for PowerPoint presentations.</span></li>
                       <li><span class="glyphicon glyphicon-ok">    Sound reinforcement Equipments.</span></li>

                     </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End our history area-->

<!--Start our speaker area-->
<section class="our-speaker-area">
    <div class="container-fluid">


        <div class="speaker-carousel owl-carousel owl-theme">
        {% for g in galleries %}
            <div class="item">

                <div class="single-speaker-carousel">
                    <img src="{{   g.photos.url }}" alt=""/>
                    <div class="overlay">
                        <div class="box">
                            <div class="content">
                                <div class="speaker-infos clearfix">
                                    <div class="left-info pull-left">
                                        <span>{{ g.date }}</span>
                                        <h4>{{ g.title }}</h4>
                                    </div>
                                    <div class="right-button pull-right">
                                        <a href="#">+</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}





        </div>

    </div>
</section>
<!--End our speaker area-->




{% endblock %}