
 {% extends 'header.html' %}
{% load staticfiles %}
{% load daguerre %}



{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'assets/' %}spaced.css">
<link rel="stylesheet" type="text/css" href="{% static '' %}assets/lightbox.min.css">
 
<section class="event-grid-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="event-gallery-filter">
                        <li data-filter="all" class="filter active">
                            <span><a href="{% url 'gallery:gallery' %}">All</a></span>
                        </li>
                        {% for s in services %}
                        <li data-filter=".{{ s.slug }}" class="filter">
                            <span><a href="{% url 'gallery:filterByService' s.slug %}"> {{ s.title }}</a></span>
                        </li>
                        {%  endfor %}

                    </ul>
                </div>

            </div>
          </div>


    <!--start nicdark_container-->
    <div class="">
                         

     <div class="row event-gallery-content" data-filter-class="filter">

    
    {% for p in gallery_list %}
    <a href="{{   p.photos.url  }}" data-lightbox="gallery" class="{{ p.service.slug }}">
        <img src="{{  p.photos.url }}" class="imgspaced">
    </a>
    
    {% empty %}

{% endfor %}
     </div>
     <div class="row">
                <div class="col-md-12">
                {% if is_paginated %}
                    <div class="paginations text-center">
                        <ul>

                         {% if page_obj.has_previous %}
                        <li><a href="/photos/?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left" area-hidden="true"></i> </a></li>
                        {% endif %}


                        {% if is_paginated %}





                    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li > <a  class="active">{{ i }}</a></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}

    {% endfor %}
                            {% endif %}
                            {% if page_obj.has_next %}
                            <li><a href="/photos/?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                            {% endif %}

                        </ul>
                    </div>
                    {% endif %}

                <br/> <div class="showing-page pull-right">
                        <p><span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span></p>
                    </div>

                </div>
            </div>
    </div>
    <!--end nicdark_container-->
            
</section>
<!--end section-->







{% endblock %}