  


<section class="newsletter-area">
    <div class="newsletter">
        {% comment %}
        <h1>request for qoute </h1>
        <form class="news-letter-form" action="{% url 'pages:page' 'contact' %}" method="post">
            {%  csrf_token %}
            <input class="your-name" type="text" name="name" placeholder="enter your name">
            <input class="your-email" type="text" name="email" placeholder="enter your email">
            <textarea name="message"></textarea>
            <button class="sign-up" type="submit">submit request</button>
        </form>

        {% endcomment %}
    </div>
</section>