
/* Large Layout: 1200px. */
@media only screen and (min-width: 1200px){
.container {padding: 0;}
.container-fluid{padding: 0;}   

    
    
    
    



    
    
    
    
    
    
}

/* Only for newsletter area */ 
@media only screen and (min-width: 1200px) and (max-width: 1599px) {
/*================================
    Start index2.html page css
=================================*/  
.newsletter-area {
  background-size: cover;
}    
 .newsletter-area .newsletter {
  margin: 0 auto;
  width: 1170px;
}    
.newsletter-area .newsletter h1 {
  margin-right: 30px;
}    
.newsletter-area .newsletter .news-letter-form input.your-name, .newsletter-area .newsletter .news-letter-form input.your-email {
  width: 235px;
}    
/*================================
    End index2.html page css
=================================*/      
 
    
    
 
    
    
    
    


    
    
    
    
    
}

/* Medium screen  */ 
@media only screen and (min-width: 992px) and (max-width: 1199px) {

/*================================
    Start index.html page css
=================================*/
.planning-event-area .planning-event-tab .tab-content .tab-pane .img-holder {
  float: none;
}
.planning-event-area .planning-event-tab .tab-content .tab-pane .img-holder img {
  width: 100%;
}    
.planning-event-area .planning-event-tab-menu {
  float: none;
  width: 100%;
}    
.single-footer-widget .quicklinks.floatright {
  margin-top: 0px;
}
/*================================
    End index.html page css
=================================*/

/*================================
    Start index2.html page css
=================================*/    
.try-out-workshop-area .single-workshop-item .top-box .value {
  margin-top: -25px;
}
    
.newsletter-area {
  background-size: cover;
}    
 .newsletter-area .newsletter {
  margin: 0 auto;
  width: 950px;
}    
.newsletter-area .newsletter h1 {
  margin-right: 0;
  margin-bottom: 30px;
} 
/*================================
    End index2.html page css
=================================*/   

/*================================
    Start index3.html page css
=================================*/
.main-event-area .main-event-right {
  left: 15px;
  margin: 0 auto;
  padding: 0;
  width: 940px;
}
.main-event-area .main-event-img-holder img {
  width: 100%;
}   
/*================================
    End index3.html page css
=================================*/
    
/*================================
Start single-event.html page css
=================================*/
  
.single-event-area .single-event-details {
  width: 270px;
}
.single-event-area .single-event-bottom-text {
  margin-top: 0;
}
.single-event-area .single-event-bottom-text ul li {
  margin-right: 67px;
}
    
/*================================
End single-event.html page css
=================================*/ 

/*================================
 Start event-list.html page css
=================================*/    
.event-list-area .single-event-list .event-list-content {
  border: 1px solid #e8e8e8;
}   
/*================================
 End event-list.html page css
=================================*/    


    
    
    
    
    
    
    

}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {

/*================================
    Start index.html page css
=================================*/
.planning-event-area .planning-event-tab .tab-content .tab-pane .img-holder {
  float: none;
}
.planning-event-area .planning-event-tab .tab-content .tab-pane .img-holder img {
  width: 100%;
}    
.planning-event-area .planning-event-tab-menu {
  float: none;
  width: 100%;
} 
.weekly-event-schedule-area .download-schedule {
  float: left !important;
  padding-bottom: 50px;
}
.weekly-event-schedule-tab .tab-content .tab-pane .content .single-content h4 {
  line-height: 25px;
}

.single-footer-widget.twitter-feed-widget {
  padding-top: 30px;
}
.single-footer-widget.subscirbe-newsletter-form-widget {
  padding-top: 30px;
}
 
.pricing-area {
  padding-bottom: 75px;
  padding-top: 110px;
}
.single-price-box {
  margin-bottom: 50px;
}
/*================================
    End index.html page css
=================================*/

/*================================
    Start index2.html page css
=================================*/    
.event-area .single-event-item {
  padding: 35px 10px 40px;
} 
.try-out-workshop-area .single-workshop-item .top-box .text h4 {
  line-height: 24px;
}
.try-out-workshop-area .single-workshop-item .top-box .value {
  margin-top: -40px;
}
.try-out-workshop-area .single-workshop-item .bottom-box .learn-more a {
  padding: 0px 0;
}
.why-choose-and-progress-area .why-choose-content {
  padding-bottom: 60px;
}
    
.newsletter-area {
  background-size: cover;
}    
 .newsletter-area .newsletter {
  margin: 0 auto;
  width: 750px;
}    
.newsletter-area .newsletter h1 {
  margin-right: 30px;
  margin-bottom: 30px;
}    
.newsletter-area .newsletter .news-letter-form button.sign-up {
  margin-left: 0px;
}   
/*================================
    End index2.html page css
=================================*/     
 
/*================================
    Start index3.html page css
=================================*/
 .event-area-v2 .single-event-item .text {
  padding-left: 20px;
} 
    
.main-event-area .main-event-right {
  left: 15px;
  margin: 0 auto;
  padding: 0;
  width: 720px;
}
.main-event-area .main-event-img-holder img {
  width: 100%;
}
    
.event-galleries-area .top-galleries {
  padding-top: 30px;
}    
/*================================
    End index3.html page css
=================================*/ 
    
/*================================
Start single-event.html page css
=================================*/  
.single-event-area .single-event-details {
  width: 300px;
}    
/*================================
End single-event.html page css
=================================*/  
    
/*================================
 Start event-list.html page css
=================================*/ 
.event-list-area .single-event-list .event-list-content {
  background: #fff none repeat scroll 0 0;
  left: -15px;
  margin-left: 30px;
  width: 720px;
  border: 1px solid #e8e8e8;
}       
/*================================
 End event-list.html page css
=================================*/      

/*==============================================
    Start about.html page css
===============================================*/    
.our-history-area .text {
  padding-bottom: 50px;  
}
    
.what-we-do-content {
  padding-bottom: 50px;
}   
/*==============================================
    End about.html page css
===============================================*/
    
/*==============================================
    Start services.html page css
===============================================*/
.service-area .single-service-item .content {
  padding-left: 20px;
} 
    
/*==============================================
    End services.html page css
===============================================*/
    
/*================================
 Start blog.html page css
=================================*/    
.sidebar-wrapper {
  padding-top: 60px;
}    
/*================================
 End blog.html page css
=================================*/      
 
/*==============================================
    Start contact.html page css
===============================================*/
.contact-info {
  width: 750px;
}    
.contact-info ul li {
  display: block;
  margin-right: 0;
  margin-bottom: 20px;
}    
        
/*==============================================
    End contact.html page css
===============================================*/

    
    
    
    
    
    
        
    
    
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {

/*================================
    Start index.html page css
=================================*/   
.planning-event-area .planning-event-tab .tab-content .tab-pane .img-holder {
  float: none;
}
.planning-event-area .planning-event-tab .tab-content .tab-pane .img-holder img {
  width: 100%;
}    
.planning-event-area .planning-event-tab-menu {
  float: none;
  width: 100%;
  top: -80px;
} 
.planning-event-area .planning-event-tab-menu li a {
  padding-left: 15px;
}
.planning-event-area .planning-event-tab-menu li.active a::before {
  content: "";
}
.planning-event-area .planning-event-tab .tab-content .tab-pane .content {
  background: #ffffff none repeat scroll 0 0;
  overflow: hidden;
  padding: 20px 10px 110px 10px;
}

.upcoming-event-area {
  padding-bottom: 88px;
  padding-top: 100px;
}
.single-upcoming-event-item {
  overflow: hidden;
  margin-bottom: 30px;
}
    
.weekly-event-schedule-tab .tab-content {
  padding-left: 20px;
  padding-right: 20px;
}
.weekly-event-schedule-area .download-schedule {
  float: left !important;
  padding-bottom: 50px;
}
.weekly-event-schedule-tab .tab-content .tab-pane .content .single-content h4 {
  line-height: 25px;
}
 
.latest-blog-area {
  padding-bottom: 70px;
  padding-top: 107px;
}
.single-blog-post {
  overflow: hidden;
  margin-bottom: 30px;
}

.footer-area {
  padding-bottom: 20px;
  padding-top: 60px;
}
.single-footer-widget {
  margin-bottom: 30px !important;
  overflow: hidden;
}
    
.pricing-area {
  padding-bottom: 75px;
  padding-top: 110px;
}
.single-price-box {
  margin-bottom: 50px;
}

/*================================
    End index.html page css
=================================*/

/*================================
    Start index2.html page css
=================================*/    
.event-area .single-event-item {
  padding: 35px 10px 40px;
}  
.try-out-workshop-area .single-workshop-item .top-box .text h4 {
  line-height: 24px;
}
.try-out-workshop-area .single-workshop-item .bottom-box {
  padding-bottom: 0px;
} 
.why-choose-and-progress-area .why-choose-content {
  padding-bottom: 60px;
}
    
.newsletter-area {
  background-size: cover;
}    
 .newsletter-area .newsletter {
  margin: 0 auto;
  width: 300px;
}    
.newsletter-area .newsletter h1 {
  margin-right: 30px;
  margin-bottom: 30px;
}    
.newsletter-area .newsletter .news-letter-form button.sign-up {
  margin-left: 0px;
  margin-top: 10px;
}
.newsletter-area .newsletter .news-letter-form input.your-name{
  margin-bottom: 20px;        
}     
/*================================
    End index2.html page css
=================================*/
    
/*================================
    Start index3.html page css
=================================*/
 .event-area-v2 {
  padding-bottom: 55px;
  padding-top: 80px;
}
.event-area-v2 .single-event-item {
  text-align: center;
  margin-bottom: 35px;
}
.event-area-v2 .single-event-item .text {
  padding-left: 0;
}
.event-area-v2 .single-event-item .icon-holder {
  float: none;
  margin: 0 0 20px;
  width: 100%;
  text-align: center;
}  
.event-area-v2 .single-event-item .text a {
  margin: 0 auto;
}
    
.main-event-area .main-event-right {
  left: 0;
  margin: 0 auto;
}
.main-event-area .main-event-img-holder img {
  width: 100%;
}
    
.event-galleries-area .top-galleries .img-holder {
  padding-top: 30px;
}
.event-galleries-area .bottom-galleries{
  padding-top: 0;        
}
.event-galleries-area .bottom-galleries .img-holder{
  padding-top: 30px;        
}  
/*================================
    End index3.html page css
=================================*/    
 
/*================================
Start single-event.html page css
=================================*/
.breadcrumb-area h4 {
  line-height: 24px;
}
    
.single-event-area .single-event-details {
  width: 270px;
}
.single-event-area .single-event-bottom-text ul li {
  margin-right: 0;
  width: 100%;
  margin-bottom: 20px;
}
.single-event-area .single-event-bottom-text h1 {
  line-height: 30px;
}
    
/*================================
End single-event.html page css
=================================*/  

/*================================
Start event-grid.html page css
=================================*/     
 .event-gallery-filter {
  text-align: center;
  padding-bottom: 45px;
}   
.event-gallery-filter li{
  margin-bottom: 10px;        
}    
/*================================
End event-grid.html page css
=================================*/   

/*================================
 Start event-list.html page css
=================================*/ 
.event-list-area .single-event-list .event-list-content {
  border: none;
}        
/*================================
 End event-list.html page css
=================================*/      
 
/*==============================================
    Start about.html page css
===============================================*/    
.our-history-area .text {
  padding-bottom: 50px;  
}
    
.what-we-do-content {
  padding-bottom: 50px;
}  
.what-we-do-content ul li .icon-holder {
  float: none;
  margin: 0 0 25px;
  text-align: center;
}
.what-we-do-content ul li .content {
  padding-left: 0;
  text-align: center;
}
/*==============================================
    End about.html page css
===============================================*/

/*==============================================
    Start services.html page css
===============================================*/
.service-area .single-service-item .icon-holder {
  float: none;
  margin: 0 0 20px;
  text-align: center;
}    
.service-area .single-service-item .content {
  padding-left: 0;
  text-align: center;
}    

.event-area.services-event-area {
  padding-bottom: 45px;
}
.event-area.services-event-area .single-event-item {
  margin-bottom: 30px;
}
    
/*==============================================
    End services.html page css
===============================================*/

/*==============================================
    Start event-schedule.html page css
===============================================*/  
 .weekly-event-schedule-area h1 {
  font-size: 25px;
}   
/*==============================================
    End event-schedule.html page css
===============================================*/    
    
/*================================
 Start blog.html page css
=================================*/    
.sidebar-wrapper {
  padding-top: 60px;
}    
/*================================
 End blog.html page css
=================================*/     

/*==============================================
    Start contact.html page css
===============================================*/
.contact-info {
  width: 300px;
}    
.contact-info ul li {
  display: block;
  margin-right: 0;
  margin-bottom: 20px;
}    
.contact-form textarea {
  height: 220px;
}       
/*==============================================
    End contact.html page css
===============================================*/
    
 
    
    

    
    
    
    
    
    
    
    
}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {

    
 
    
    
    
    
    
    
    
    
    
    
    
       
}

/* Mobile Layout: 521-767px. */
@media only screen and (min-width: 521px) and (max-width: 767px) {
    
/*================================
    Start index.html page css
=================================*/  
.planning-event-area .planning-event-tab-menu {
  padding: 22px 0;
}  
/*================================
    End index.html page css
=================================*/ 
    
 
    
    
    
    
    
    
    
    
}

/* Mobile Layout: 320-450px. */
@media only screen and (min-width: 320px) and (max-width: 450px) {

.weekly-event-schedule-area .download-schedule {
  float: left !important;
  padding-bottom: 50px;
}
.weekly-event-schedule-tab .tab-content {
  padding-left: 20px;
  padding-right: 20px;
  float: left;
}

}


@media (max-width: 1150px) {
  .header .logo {float: none !important;text-align: center;line-height: 0;padding-top: 30px;}
  .header .header-right {float: none !important;text-align: center;}
  .header .header-right .header-searchbar {float: none !important;display: block;}
  .header .header-right .nav-footer {float: none !important;text-align: left !important;}
}

@media (max-width: 600px) {
  .tp-caption {display: none !important;}
  .header.stricky-fixed .logo {display: none;}
}

/* menu responsive styles */

@media (min-width: 1149px) {
  .header-right .nav-footer {display: inline-block !important;}  
  .header-right .nav-toggler-box,
  .nav-footer ul .dropdown-expander {display: none;}  
}
@media (max-width: 1150px) {  
  .header-right .nav-toggler-box {display: inline-block;}
  .header-right .nav-footer {display: none;background: #27343E;height: 70vh;overflow: auto;}
  .header-right .nav-footer.collapse.in {display: block;}
  .nav-footer ul .dropdown-expander {display: block;}
  .header-right .nav-footer > ul > li {display: block;line-height: 40px;}
  .header-right .nav-footer > ul > li > a {display: block;margin: 0;padding-left: 15px;padding-right: 15px;color: #fff;border-bottom: 1px solid rgba(255,255,255, .15);}
  .header-right .nav-footer > ul > li > a:before {display: none;}
  .header-right .nav-footer > ul > li > ul {visibility: visible;opacity: 1;position: static;width: 100%;background: #30C957;border-color: #fff;max-height: 0px;overflow-y: hidden;transition-property: all !important; transition-duration: .5s !important; transition-timing-function: cubic-bezier(0, 1, 0.5, 1) !important;}
  .header-right .nav-footer > ul > li > ul.closed {max-height: 0;}
  .header-right .nav-footer > ul > li > ul.opened {max-height: 600px;}
  .header-right .nav-footer > ul > li > ul > li > a  {color: #fff;border-color: #fff;}

}