{% extends 'header.html' %}
{% load staticfiles %}
{% load daguerre %}
{% block content %}


    
<!--Start breadcrumb area-->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>About Us</h1>
                <h4>Afron Concept International</h4>
            </div>
        </div>
    </div>
</section> 
<!--End breadcrumb area-->
 
<!--Start our history area-->
<section class="our-history-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="text">
                    <div class="section-title-2">
                        <h1><span>Our History and Philosphy</span></h1>
                    </div>
                    <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    <a href="">check our services</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
            {% for g in request.Gallery|slice:"0:1" %}
                <div class="img-holder">
                    <img src="{% adjust g.photo 'fit' width='571' height='351' %}img/resources/history.jpg" alt="Awesome Image">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!--End our history area-->
    
<!--Start what we do area-->
<section class="why-choose-and-progress-area what-we-do-area">
	<div class="container">
        <div class="section-title text-center">
            <h1>What We Do</h1>
            <div class="icon-holder">
                <img alt="Awesome Image" src="img/resources/section-title-icon.png">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="what-we-do-content">
                    <ul>
                        <li class="clearfix">
                            <div class="icon-holder">
                                <img src="img/resources/icon/event-icon-1.png" alt="">
                            </div>
                            <div class="content">
                                <h4>Manage Event Worldwide</h4>
                                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <img src="img/resources/icon/event-icon-2.png" alt="">
                            </div>
                            <div class="content">
                                <h4>Start A Business Event</h4>
                                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <img src="img/resources/icon/event-icon-3.png" alt="">
                            </div>
                            <div class="content">
                                <h4>Participate On Events</h4>
                                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </p>
                            </div>
                        </li>
                    </ul>   
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="progress-bars">
                    <!--Start single progress bar item-->
                    <div class="progress-label">
                        <h4>social marketng</h4>
                    </div>
                    <div class="progress slim progress-striped">
                        <div style="width: 90%;" data-appear-progress-animation="90%" class="progress-bar progress-bar-primary 90% animation-visible">
                            <span style="opacity: 1;" class="progress-bar-tooltip">90%</span>
                        </div>
                    </div>
                    <!--End single progress bar item-->
                    <!--Start single progress bar item-->
                    <div class="progress-label">
                        <h4>Event Management</h4>
                    </div>
                    <div class="progress slim progress-striped">
                        <div style="width: 92%;" data-appear-progress-animation="92%" class="progress-bar progress-bar-primary event-management 92% animation-visible">
                            <span style="opacity: 1;" class="progress-bar-tooltip">92%</span>
                        </div>
                    </div>
                    <!--End single progress bar item-->
                    <!--Start single progress bar item-->
                    <div class="progress-label">
                        <h4>online marketing</h4>
                    </div>
                    <div class="progress slim progress-striped">
                        <div style="width: 72%;" data-appear-progress-animation="72%" class="progress-bar progress-bar-primary 72% animation-visible">
                            <span style="opacity: 1;" class="progress-bar-tooltip">72%</span>
                        </div>
                    </div>
                    <!--End single progress bar item-->
                    <!--Start single progress bar item-->
                    <div class="progress-label">
                        <h4>event planning & LOCATIONS</h4>
                    </div>
                    <div class="progress slim progress-striped">
                        <div style="width: 84%;" data-appear-progress-animation="84%" class="progress-bar progress-bar-primary 84% animation-visible">
                            <span style="opacity: 1;" class="progress-bar-tooltip">84%</span>
                        </div>
                    </div>
                    <!--End single progress bar item-->
                </div>
            </div>
        </div>
	</div>
</section>
<!--End what we do area-->
    
    
<!--Start news letter area-->
<section class="newsletter-area">
    <div class="newsletter">
        <h1>Request for Quote </h1>
        <form class="news-letter-form" action="#">
            <input class="your-name" type="text" name="name" placeholder="enter your name">
            <input class="your-email" type="text" name="email" placeholder="enter your email">
            <button class="sign-up" type="submit">Send Request</button>
        </form>
    </div>
</section>   
<!--End news letter area-->
    
<!--Start our speaker area-->
<section class="our-speaker-area">
    <div class="container-fluid">

        <div class="section-title text-center">

            <p>Here are some of the best pictures from our events</p>
            <div class="icon-holder">
                <img src="{% static 'assets/' %}img/resources/section-title-icon.png" alt="Awesome Image">
            </div>
        </div>
        <div class="speaker-carousel owl-carousel owl-theme">
        {% for g in galleries %}
            <div class="item">

                <div class="single-speaker-carousel">
                    <img src="{{   g.photos.url  }}" alt="Awesome Image"/>
                    <div class="overlay">
                        <div class="box">
                            <div class="content">
                                <div class="speaker-infos clearfix">
                                    <div class="left-info pull-left">
                                        <span>{{ g.date }}</span>
                                        <h4>{{ g.title }}</h4>
                                    </div>
                                    <div class="right-button pull-right">
                                        <a href="#">+</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}





        </div>

    </div>
</section>
<!--End our speaker area-->
    
<!--Start latest blog area-->
<section class="latest-blog-area">
    <div class="container">
        <div class="section-title text-center">
            <h1>Latest from the blog</h1>
            <div class="icon-holder">
                <img src="img/resources/section-title-icon.png" alt="Awesome Image">
            </div>
        </div>
        <div class="row">
            <!--Start single blog post-->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-blog-post">
                    <div class="img-holder">
                        <img src="img/blog/latest-blog/1.jpg" alt="Awesome Image">
                    </div>
                    <div class="content">
                        <a href="#"><h5>Nam liber tempor cum soluta nobis eleifend</h5></a>
                        <ul class="meta">
                            <li><a href="">by Markus Loirning</a></li>
                            <li><a href="">Parties</a></li>
                            <li><a href="">3 Comments</a></li>
                        </ul>
                        <p>Alihgquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
                    </div>
                    <a class="read-more" href=""><i aria-hidden="true" class="fa fa-angle-right"></i>Read More</a>
                </div>    
            </div>
            <!--End single blog post-->
            <!--Start single blog post-->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-blog-post">
                    <div class="img-holder">
                        <img src="img/blog/latest-blog/2.jpg" alt="Awesome Image">
                    </div>
                    <div class="content">
                        <a href="#"><h5>Duis autem vel eum iriure dolor in hendrerit</h5></a>
                        <ul class="meta">
                            <li><a href="">by Jonathan Doe</a></li>
                            <li><a href="">Prepare Events</a></li>
                            <li><a href="">5 Comments</a></li>
                        </ul>
                        <p>Alihgquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
                    </div>
                    <a class="read-more" href=""><i aria-hidden="true" class="fa fa-angle-right"></i>Read More</a>
                </div>    
            </div>
            <!--End single blog post-->
            <!--Start single blog post-->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-blog-post">
                    <div class="img-holder">
                        <img src="img/blog/latest-blog/3.jpg" alt="Awesome Image">
                    </div>
                    <div class="content">
                        <a href="#"><h5>Molestie consequat, vel illum dolore eu feugiat</h5></a>
                        <ul class="meta">
                            <li><a href="">by Jonathan Doe</a></li>
                            <li><a href="">Event Management</a></li>
                            <li><a href="">8 Comments</a></li>
                        </ul>
                        <p>Alihgquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
                    </div>
                    <a class="read-more" href=""><i aria-hidden="true" class="fa fa-angle-right"></i>Read More</a>
                </div>    
            </div>
            <!--End single blog post-->
        </div>
    </div>   
</section>
<!--End latest blog area-->
    
<!--Start client logo area-->
<section class="brand-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="brand-carousel owl-theme">
                    <div class="single-item">
                        <a href="#"><img src="img/brand/1.png" alt="Awesome Brand Image"></a>    
                    </div>
                    <div class="single-item">
                        <a href="#"><img src="img/brand/2.png" alt="Awesome Brand Image"></a>    
                    </div> 
                    <div class="single-item">
                        <a href="#"><img src="img/brand/3.png" alt="Awesome Brand Image"></a>    
                    </div> 
                    <div class="single-item">
                        <a href="#"><img src="img/brand/4.png" alt="Awesome Brand Image"></a>    
                    </div> 
                    <div class="single-item">
                        <a href="#"><img src="img/brand/5.png" alt="Awesome Brand Image"></a>    
                    </div> 
                </div>    
            </div>    
        </div>    
    </div>
</section>
    
{% endblock %}