/***************************************************************************************************************
||||||||||||||||||||||||||||       MASTER STYLESHEET FOR Smart Up           ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************
||||||||||||||||||||||||||||              TABLE OF CONTENT                  ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************
****************************************************************************************************************

1.  Imported styles
2.  Global styles
3.  Top Area styles
4.  Menu Dropdown styles
5.  Revolution Slider styles
6.  Planning Event styles
7.  UpComing event area  styles
8.  Weekly Event  styles
9.  Speaker Area  styles
10.  Pricing styles
11.  Blog post area  styles
12.  Brand styles
13.  Footer area styles
14.  Footer Bottom styles
15.  Event area  styles
16.  Try Out Area styles
17.  News Letter Area styles
18.  Event area home 3 styles
19.  Main Event area styles
20.  Event Gallries styles
21.  Bread Cumb styles
22.  Single Event ARea styles
23.  Event Grid styles
24.  Event List page styles
25.  About Page styles
26.  Service page styles
27.  Pricing Page styles
28.  Event Schedule styles
29.  Blog Page styles
30.  Contact Page styles
31.  Speaker Carousel styles
32.  Count Down styles
33.  Cooming Soon styles
34.  Accrodion styles

****************************************************************************************************************
||||||||||||||||||||||||||||            End TABLE OF CONTENT                ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************/
/*****************************
*= 1.  Imported styles
******************************/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(bootstrap.min.css);
@import url(font-awesome.min.css);
@import url(hover.css);
@import url(jquery.bxslider.css);
@import url(owl.carousel.css);
@import url(owl.theme.default.min.css);
@import url(animate.min.css);
@import url(../fonts/flaticon/flaticon.css);
@import url(../js/fancyapps-fancyBox/source/jquery.fancybox.css);
@import url(../js/vegas/vegas.min.css);
@import url(../revolution/css/settings.css);
@import url(../js/jquery-ui-1.11.4/jquery-ui.css);

/***************************** 
*= 2.  Global styles
******************************/

html,
body {
    height: 100%
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #5f5f5f;
    line-height: 32px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
    border: none;
}

img {
    max-width: 100%;
    height: auto;
}

i {
    font-style: normal;
}

.p0 {
    padding: 0 !important;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

.btn-theme-four {
    position: relative;
    padding: 10px 25px;
    line-height: 20px;
    text-transform: uppercase;
    background: none;
    color: #1a1a1a;
    border: 2px solid #e1e1e1;
    font-size: 12px;
    transition: all .3s ease;
}

.btn-theme-four:hover {
    background: #FF3720;
    color: #ffffff !important;
    border-color: #FF3720;
}

/* End Base CSS */

.section-title {
    padding-bottom: 50px;
}

.section-title h1 {
    color: #252525;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin: -4px 0 12px;
    text-transform: capitalize;
}

.button a {
    background: #30c957 none repeat scroll 0 0;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    font-family: "Varela Round", sans-serif;
    font-size: 11px;
    height: 40px;
    text-transform: uppercase;
    width: 175px;
    text-align: center;
    padding: 5px 0px;
}

h4 {
    color: #252525;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
}

.header {
}

.header.stricky-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 9999;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
}

/*****************************
*= 3.  Top Area styles
******************************/

.top-area {
    background: #27343e none repeat scroll 0 0;
    padding: 6px 0;
}

.top-area .social-linls a i {
    border-radius: 50%;
    color: #8798a6;
    height: 23px;
    margin-right: 10px;
    padding: 5px 6px;
    transition: all 0.3s ease 0s;
    width: 23px;
}

.top-area .social-linls a i.myfb {
    padding: 5px 8px;
}

.top-area .social-linls a i:hover {
    background: #506acb none repeat scroll 0 0;
    color: #fff;
}

.top-area .top-right {
}

.top-area .top-right .login-register {
    float: left;
    margin-right: 0px;
}

.top-area .top-right .login-register li {
    display: inline-block;
    float: left;
}

.top-area .top-right .login-register li a {
    border-right: 1px solid #fff;
    color: #ffffff;
    font-family: "Varela Round", sans-serif;
    font-size: 11px;
    padding: 0 12px;
    text-transform: capitalize;
}

.top-area .top-right .login-register li.lang-list {
    margin-left: 7px;
}

.top-area .top-right .login-register li.lang-list select.dropdown {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    font-size: 11px;
    width: 70px;
    font-family: 'Varela Round', sans-serif;
}

.top-area .top-right .login-register li.lang-list #ui-id-1-button {
    width: 45px !important;
}

.top-area .top-right .login-register li.lang-list .ui-selectmenu-button span.ui-selectmenu-text {
    display: block;
    line-height: 8px;
    overflow: hidden;
    padding: 0 0 0 7px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
}

.top-area .top-right .login-register li.lang-list .ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background: none;
    border: none;
    color: #fff;
    font-weight: normal;
    font-size: 11px;
}

.top-area .top-right .login-register li.lang-list .ui-state-default .ui-icon {
    background-image: none;
}

.top-area .top-right .cart-total {
    float: left;
    margin-bottom: 5px;
    margin-right: 25px;
    margin-top: 5px;
}

.top-area .top-right .cart-total li {
    display: inline-block;
    float: left;
    background: #334450 none repeat scroll 0 0;
    border-radius: 50%;
    height: 23px;
    width: 23px;
}

.top-area .top-right .cart-total li.item-count {
    background: #30c957 none repeat scroll 0 0;
    left: 4px;
    position: relative;
    z-index: 2;
}

.top-area .top-right .cart-total li.item-count a p {
    display: block;
    margin-left: 8px;
    margin-top: -5px;
    color: #fff;
    font-family: 'Varela Round', sans-serif;
}

.top-area .top-right .cart-total li.buskat {
    z-index: 4 !important;
    position: relative;
    left: 0px;
}

.top-area .top-right .cart-total li a i {
    color: #fff;
    display: block;
    padding: 5px;
}

.top-area .top-right .buy-ticket {
    background: #f56719 none repeat scroll 0 0;
    border-radius: 5px;
    display: inline-block;
    float: right;
    height: 25px;
    margin: 4px 0;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 100px;
}

.top-area .top-right .buy-ticket a {
    color: #ffffff;
    font-family: "Varela Round", sans-serif;
    font-size: 11px;
    position: relative;
    top: -5px;
}

.top-area .top-right .buy-ticket a i {
    display: inline-block;
    font-size: 12px;
    padding-right: 12px;
}

.top-area .top-right .buy-ticket a p {
}

.top-area .top-right .buy-ticket:hover {
    background: #30c957;
}

/* End top area css */

.header .logo {
    line-height: 95px;
}

.header-right .nav-footer {
    display: inline-block;
    text-align: right;
}

.header-right .nav-footer.collapse {
    display: none;
}

.header-right .nav-footer.collapse.in {
    display: inline-block;
}

.header-right .nav-footer > ul > li {
    display: inline-block;
    line-height: 95px;
}

.header-right .nav-footer > ul > li > a {
    color: #5a6975;
    display: block;
    font-family: "Varela Round", sans-serif;
    font-size: 13px;
    margin: 0 25px;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.header-right .nav-footer > ul > li > a::before {
    background: #30c957 none repeat scroll 0 0;
    bottom: 30px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transition: all .3s ease;
    width: 0;
}

.header-right .nav-footer > ul > li:hover > a::before {
    width: 100%;
}

.header-right .nav-footer > ul > li:hover > a {
    color: #30c957;
}

.header-right .nav-footer > ul > li:first-child > a {
    margin-left: 0;
}

/*****************************
*= 4.  Menu Dropdown styles
******************************/

.header-right .nav-footer > ul > li {
    position: relative;
}

.header-right .nav-footer > ul > li > ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    z-index: 99999;
    background: #fff;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease;
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, .11);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .11);
}

.header-right .nav-footer > ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
}

.header-right .nav-footer > ul > li > ul > li {
    line-height: 35px;
}

.header-right .nav-footer > ul > li > ul > li > a {
    color: #5a6975;
    border-bottom: 1px solid #D6D6D6;
    display: block;
    font-family: "Varela Round", sans-serif;
    font-size: 11px;
    padding: 0 15px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.header-right .nav-footer > ul > li > ul > li > a:hover {
    background: #30C957;
    border-color: #30C957;
    color: #fff;
}

.nav-footer ul .dropdown-expander {
    width: 28px;
    height: 28px;
    line-height: 28px;
    border: none;
    outline: none;
    background: #30C957;
    color: #fff;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -14px;
}

.header-right .nav-toggler-box {
    margin-right: 10px;
}

.header-right .nav-toggler-box button {
    width: 32px;
    height: 32px;
    line-height: 32px;
    border: none;
    outline: none;
    background: #30C957;
    color: #fff;
    border-radius: 4px;
}

.header-right .header-searchbar {
    display: inline-block;
    float: right;
    padding: 31px 0;
}

.header-right .header-searchbar .search-form {
    position: relative;
    display: inline-block;
}

.header-right .header-searchbar .search-form input {
    border: 1px solid #d6d6d6;
    border-radius: 20px;
    color: #9d9d9d;
    font-size: 11px;
    height: 32px;
    padding-left: 15px;
    padding-right: 40px;
    width: 162px;
    outline: none;
    font-style: italic;
    transition: all 0.5s ease 0s;
}

.header-right .header-searchbar .search-form input:focus {
    border: 1px solid #30c957;
}

.header-right .header-searchbar .search-form button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #b5b5b5;
    position: absolute;
    right: 10px;
    top: 0;
}

/*****************************
*= 5.  Revolution Slider styles
******************************/

.rev_slider_wrapper {
}

.rev_slider_wrapper .banner-caption {
}

.rev_slider_wrapper .banner-caption ul {
    padding: 0 7px !important;
    position: relative;
    z-index: 1;
}

.rev_slider_wrapper .banner-caption ul::before {
    background: #27343e none repeat scroll 0 0;
    content: "";
    height: 35px;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    border-radius: 50px;
}

.rev_slider_wrapper .banner-caption ul li {
    color: #30c957;
    display: inline-block;
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    margin: 0 10px;
    padding: 2px 3px;
}

.rev_slider_wrapper .banner-caption ul li i {
    display: inline-block;
    padding-right: 10px;
    font-size: 14px;
}

.rev_slider_wrapper .banner-caption h1 {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
}

.rev_slider_wrapper .banner-caption h4 {
    color: #ffffff;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 5px;
}

.rev_slider_wrapper .banner-caption .countdown {
    position: relative;
    z-index: 1;
}

.rev_slider_wrapper .banner-caption .countdown:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: #ffef8d;
    width: 100%;
    height: 74px;
    z-index: -1;
    opacity: .43;
    border: 3px solid #84706d;
}

.rev_slider_wrapper .banner-caption .countdown h2 {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    font-weight: 600;
    padding: 0px 20px !important;
}

.rev_slider_wrapper .banner-caption a {
    background: #f56719 none repeat scroll 0 0;
    border-radius: 20px;
    color: #ffffff;
    display: block;
    font-size: 11px !important;
    height: 40px !important;
    padding: 4px 35px !important;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    transition: all 0.3s ease 0s !important;
}

.rev_slider_wrapper .banner-caption a i {
    display: inline-block;
    padding-left: 12px;
    font-size: 14px;
}

.rev_slider_wrapper .banner-caption a:hover {
    background: #30c957;
}

.smartup-caption-1 h3 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 8px;
    font-family: 'Varela Round', sans-serif;
}

.smartup-caption-2 h3 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 6px;
    font-family: 'Varela Round', sans-serif;
}

.slider-buy-ticket-button {
    background: #27343e none repeat scroll 0 0;
    border-radius: 25px;
    color: #ffffff;
    display: inline-block;
    font-family: "Varela Round", sans-serif;
    font-size: 11px;
    font-weight: 500;
    padding: 4px 23px;
    text-transform: uppercase;
    transition: all 700ms ease 0s !important;
}

.slider-buy-ticket-button i {
    display: inline-block;
    padding-left: 10px;
    font-size: 14px;
}

.slider-buy-ticket-button:hover {
    background: #30C957;
    color: #fff;
}

.slider-registerd-button {
    background: #30c957;
    display: inline-block;
    color: #ffffff;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 4px 23px;
    border-radius: 25px;
    font-family: 'Varela Round', sans-serif;
    transition: all 700ms ease 0s !important;
}

.slider-registerd-button i {
    display: inline-block;
    padding-left: 10px;
    font-size: 14px;
}

.slider-registerd-button:hover {
    background: #f56719;
    color: #fff;
}

.tp-dottedoverlay {
    background: rgba(25, 33, 39, 0.46) none repeat scroll 0 0 !important;
    z-index: 2 !important;
}

/*****************************
*= 6.  Planning Event styles
******************************/

.planning-event-area {
    background: #f5f4f4 none repeat scroll 0 0;
    padding-bottom: 30px;
    padding-top: 75px;
}

.planning-event-area .planning-event-tab .tab-content .tab-pane .img-holder {
    float: left;
}

.planning-event-area .planning-event-tab .tab-content .tab-pane .content {
    background: #ffffff none repeat scroll 0 0;
    overflow: hidden;
    padding: 36px 20px 110px 30px;
}

.planning-event-area .planning-event-tab .tab-content .tab-pane .content h1 {
    color: #252525;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 10px;
}

.planning-event-area .planning-event-tab .tab-content .tab-pane .content ul li {
    display: inline-block;
}

.planning-event-area .planning-event-tab .tab-content .tab-pane .content ul li::after {
    color: #30c957;
    content: "/";
    display: inline-block;
    margin: 0 5px;
}

.planning-event-area .planning-event-tab .tab-content .tab-pane .content ul li:last-child::after {
    content: "";
}

.planning-event-area .planning-event-tab .tab-content .tab-pane .content ul li a {
    color: #30c957;
    font-size: 14px;
    font-family: 'Varela Round', sans-serif;
}

.planning-event-area .planning-event-tab .tab-content .tab-pane .content p {
    margin: 5px 0 28px;
}

.planning-event-area .planning-event-tab .tab-content .tab-pane .content .button a {
    transition: all 500ms ease 0s;
}

.planning-event-area .planning-event-tab .tab-content .tab-pane .content .button a:hover {
    background: #f56719;
}

.planning-event-area .planning-event-tab-menu {
    border-top: 1px solid #e6e6e6;
    display: block;
    float: right;
    padding: 9px 0;
    position: relative;
    top: -52px;
    width: 600px;
}

.planning-event-area .planning-event-tab-menu li {
    display: inline-block;
}

.planning-event-area .planning-event-tab-menu li a {
    color: #898989;
    display: block;
    font-size: 12px;
    padding-left: 35px;
    transition: all 500ms ease 0s;
}

.planning-event-area .planning-event-tab-menu li.active a {
    position: relative;
    color: #252525;
    font-size: 12px;
    font-weight: 500;
}

.planning-event-area .planning-event-tab-menu li.active a:before {
    content: "\f111";
    font-family: FontAwesome;
    color: #30c957;
    font-size: 7px;
    position: absolute;
    top: 1px;
    left: 20px;
}

/*****************************
*= 7.  UpComing event area  styles
******************************/

.upcoming-event-area {
    padding-bottom: 118px;
    padding-top: 100px;
}

.single-upcoming-event-item .img-holder {
    position: relative;
}

.single-upcoming-event-item .img-holder .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(48, 201, 87, .75);
    transform: scale(0);
    transition: all .5s ease;
}

.single-upcoming-event-item .img-holder:hover .overlay {
    transform: scale(1);
}

.single-upcoming-event-item .img-holder .overlay .box {
    display: table;
    width: 100%;
    height: 100%;
}

.single-upcoming-event-item .img-holder .overlay .box .content-box {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.single-upcoming-event-item .img-holder .overlay .box .content-box a {
    width: 30px;
    height: 30px;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    display: inline-block;
    background: #F56719;
    border-radius: 4px;
    transition: all .3s ease;
}

.single-upcoming-event-item .img-holder .overlay .box .content-box a:hover {
    background: #fff;
    color: #F56719;
}

.single-upcoming-event-item .img-holder img {
    width: 100%;
}

.single-upcoming-event-item .content {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e8e8e8;
    margin-top: -37px;
    padding: 10px 20px;
    position: relative;
    top: 37px;
}

.single-upcoming-event-item .content h5 {
    color: #252525;
    font-size: 16px;
    line-height: 32px;
    margin: 10px 0 5px;
    font-family: 'Varela Round', sans-serif;
    transition: all .3s ease;
}

.single-upcoming-event-item .content h5:hover {
    color: #F56719;
}

.single-upcoming-event-item .content p {
    margin: 0 0 8px;
}

.single-upcoming-event-item .content ul {
    padding-bottom: 10px;
}

.single-upcoming-event-item .content ul li {
    display: inline-block;
    margin-right: 20px;
    font-family: 'Varela Round', sans-serif;
}

.single-upcoming-event-item .content ul li i {
    color: #30c957;
    font-size: 12px;
    display: inline-block;
    padding-right: 10px;
}

.single-upcoming-event-item .readmore {
    float: right;
    margin-right: 22px;
}

.single-upcoming-event-item .readmore a i {
    background: #30c957 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 20px;
    height: 73px;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 41px;
    width: 73px;
    transition: all 0.3s ease 0s;
}

.single-upcoming-event-item .readmore a i:hover {
    background: #F56719;
}

/*****************************
*= 8.  Weekly Event  styles
******************************/

.weekly-event-schedule-area {
    background: #f5f4f4 none repeat scroll 0 0;
    padding-bottom: 100px;
    padding-top: 75px;
}

.weekly-event-schedule-area .section-title {
    padding-bottom: 35px;
}

.weekly-event-schedule-area .download-schedule a {
    background: #91a9bb none repeat scroll 0 0;
    border-radius: 20px;
    color: #ffffff;
    display: block;
    font-family: "Varela Round", sans-serif;
    font-size: 11px;
    height: 40px;
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
    width: 180px;
    margin-top: -5px;
    transition: all 700ms ease 0s;
}

.weekly-event-schedule-area .download-schedule a:hover {
    background: #30c957;
}

.weekly-event-schedule-tab .weekly-event-schedule-tab-menu {
    width: 180px;
    float: left;
    margin-right: 10px;
}

.weekly-event-schedule-tab .weekly-event-schedule-tab-menu li {
    background: #ffffff;
    margin-bottom: 12px;
    height: 45px;
    border-radius: 5px;
    text-align: center;
}

.weekly-event-schedule-tab .weekly-event-schedule-tab-menu li a {
    display: block;
    color: #91a9bb;
    font-size: 13px;
    padding: 6px 0;
    font-family: 'Varela Round', sans-serif;
    transition: all 0.3s ease 0s;
}

.weekly-event-schedule-tab .weekly-event-schedule-tab-menu li.active a {
    background: #30c957;
    color: #fff;
    border-radius: 5px;
}

.weekly-event-schedule-tab .tab-content {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 5px;
    overflow: hidden;
    padding-left: 30px;
    padding-right: 30px;
}

.weekly-event-schedule-tab .tab-content .tab-pane .content .single-content {
    margin-top: 18px;
    padding-left: 27px;
    position: relative;
}

.weekly-event-schedule-tab .tab-content .tab-pane .content .single-content::before {
    background: #e2e2e2 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 25px;
    width: 2px;
}

.weekly-event-schedule-tab .tab-content .tab-pane .content .single-content .time {
    color: #5f5f5f;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0 0 12px;
    font-family: 'Varela Round', sans-serif;
    position: relative;
}

.weekly-event-schedule-tab .tab-content .tab-pane .content .single-content .time::before {
    background: rgba(0, 0, 0, 0) url("../img/weekly-event-schedule/time-icon.png") repeat scroll 0 0;
    content: "";
    height: 22px;
    left: -36px;
    position: absolute;
    top: 3px;
    width: 20px;
}

.weekly-event-schedule-tab .tab-content .tab-pane .content .single-content h4 {
    color: #252525;
    font-family: "Varela Round", sans-serif;
    font-size: 16px;
    margin: 0 0 12px;
    cursor: pointer;
    transition: all .3s ease;
}

.weekly-event-schedule-tab .tab-content .tab-pane .content .single-content h4:hover {
    color: #F56719;
}

.weekly-event-schedule-tab .tab-content .tab-pane .content .single-content p {
    margin: 0 0 13px;
}

.weekly-event-schedule-tab .tab-content .tab-pane .content .single-content .bottom-content {
    padding-bottom: 20px;
}

.weekly-event-schedule-tab .tab-content .tab-pane .content .single-content .bottom-content .img-holder {
    float: left;
    width: 87px;
}

.weekly-event-schedule-tab .tab-content .tab-pane .content .single-content .bottom-content .speaker-name {
    float: left;
}

.weekly-event-schedule-tab .tab-content .tab-pane .content .single-content .bottom-content .speaker-name p {
    color: #252525;
    display: block;
    font-family: "Varela Round", sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 17px 0;
}

.weekly-event-schedule-tab .tab-content .tab-pane .content .single-content .bottom-content .speaker-name p span {
    color: #5f5f5f;
    display: inline-block;
    padding-right: 5px;
}

.weekly-event-schedule-tab .tab-content .tab-pane .content .single-content .bottom-content .see-details {
    float: left;
    padding-left: 75px;
}

.weekly-event-schedule-tab .tab-content .tab-pane .content .single-content .bottom-content .see-details a {
    color: #f56719;
    font-family: "Varela Round", sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    display: block;
    padding: 17px 0;
}

.weekly-event-schedule-tab .tab-content .tab-pane .content .single-content .bottom-content .see-details a i {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding-right: 10px;
}

.weekly-event-schedule-tab .tab-content .tab-pane .content .load-more-button {
    left: -6px;
    padding-bottom: 15px;
    padding-top: 8px;
    position: relative;
}

.weekly-event-schedule-tab .tab-content .tab-pane .content .load-more-button a {
    background: #bbcddb none repeat scroll 0 0;
    border-radius: 20px;
    color: #ffffff;
    display: block;
    font-size: 10px;
    height: 35px;
    padding: 1px 0;
    text-align: center;
    text-transform: uppercase;
    width: 105px;
    font-family: 'Varela Round', sans-serif;
    transition: all 700ms ease 0s;
}

.weekly-event-schedule-tab .tab-content .tab-pane .content .load-more-button a:hover {
    background: #30c957;
}

/*****************************
*= 9.  Speaker Area  styles
******************************/

.our-speaker-area {
    padding-bottom: 100px;
    padding-top: 105px;
}

.our-speaker-area .section-title {
    padding: 0 100px;
}

/*****************************
*= 10.  Pricing styles
******************************/

.pricing-area {
    background: #f5f4f4 none repeat scroll 0 0;
    padding-bottom: 125px;
    padding-top: 110px;
}

.pricing-area .section-title {
    padding-bottom: 70px;
}

.single-price-box {
    background: #fff none repeat scroll 0 0;
    text-align: center;
    padding: 0;
    transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -webkit-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
}

.single-price-box .price-content {
    padding: 0 0 45px;
}

.single-price-box .price-content .price-box-header {
    border-bottom: 1px solid #e2ebf1;
    padding-bottom: 35px;
    padding-top: 37px;
}

.single-price-box .price-content .price-box-header .title {
    color: #30c957;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    margin: 0 0 18px;
    text-transform: uppercase;
    transition: all 300ms ease 0s;
}

.single-price-box .price-content .price-box-header .price {
    color: #262b2f;
    font-family: "Montserrat", sans-serif;
    font-size: 46px;
    margin: 0 0 20px;
    transition: all 300ms ease 0s;
}

.single-price-box .price-content .price-box-header .price span {
    display: inline-block;
    font-size: 30px;
    margin: 0;
    position: relative;
    top: -15px;
    transition: all 300ms ease 0s;
}

.single-price-box .price-content .price-box-header .duration {
    color: #c3cbd4;
    font-size: 14px;
    font-style: italic;
}

.single-price-box .price-content .price-list {
}

.single-price-box .price-content .price-list ul {
    padding-bottom: 34px;
    padding-top: 20px;
}

.single-price-box .price-content .price-list ul li {
    color: #5f5f5f;
    font-size: 12px;
    line-height: 42px;
}

.single-price-box .price-content .price-list ul li i {
    color: #30c957;
    display: inline-block;
    padding-right: 10px;
    font-weight: 400;
    font-size: 10px;
}

.single-price-box .price-content a {
    border: 1px solid #e2ebf1;
    border-radius: 20px;
    color: #252525;
    display: inline-block;
    font-family: "Varela Round", sans-serif;
    height: 42px;
    padding: 4px 0;
    text-transform: uppercase;
    width: 145px;
    transition: all 300ms ease 0s;
}

.single-price-box:hover {
    z-index: 1;
    border-top: 4px solid #f56719;
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    -webkit-box-shadow: 0px 0px 2px 1px #dae5ef;
    -ms-box-shadow: 0px 0px 2px 1px #dae5ef;
    -o-box-shadow: 0px 0px 2px 1px #dae5ef;
    -moz-box-shadow: 0px 0px 2px 1px #dae5ef;
    box-shadow: 0px 0px 2px 1px #dae5ef;
}

.single-price-box:hover .price-content .price-box-header .title {
    color: #f56719;
}

.single-price-box:hover .price-content .price-box-header .price {
}

.single-price-box:hover .price-content a {
    background: #f56719;
    border: 1px solid #f56719;
    color: #fff;
}

/*****************************
*= 11.  Blog post area  styles
******************************/

.latest-blog-area {
    padding-bottom: 70px;
    padding-top: 107px;
}

.single-blog-post .img-holder {
    overflow: hidden;
}

.single-blog-post .img-holder img {
    transition: all 500ms ease 0s;
    width: 100%;
}

.single-blog-post:hover .img-holder img {
    transform: scale(1.1, 1.1) rotate(-2deg);
    opacity: .9;
}

.single-blog-post .content a:hover h5 {
    color: #f56719;
}

.single-blog-post .content h5 {
    color: #27343e;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin: 27px 0 6px;
    transition: all .3s ease;
}

.single-blog-post .content .meta li {
    display: inline-block;
}

.single-blog-post .content .meta li::after {
    color: #30c957;
    content: "/";
    display: inline-block;
    margin: 0 1px 0 5px;
}

.single-blog-post .content .meta li:last-child::after {
    content: "";
}

.single-blog-post .content .meta li a {
    color: #30c957;
    font-size: 12px;
    font-family: 'Varela Round', sans-serif;
}

.single-blog-post .content p {
    margin: 0 0 5px;
}

.single-blog-post a.read-more {
    color: #f56719;
    float: right;
    font-size: 12px;
    font-family: 'Varela Round', sans-serif;
}

.single-blog-post a.read-more i {
    display: inline-block;
    padding-right: 8px;
    font-size: 15px;
}

/*****************************
*= 12.  Brand styles
******************************/

.brand-area {
}

.brand-area .brand-carousel {
    border-top: 1px solid #eeeeee;
    padding-bottom: 60px;
    padding-top: 60px;
}

/*****************************
*= 13.  Footer area styles
******************************/

.footer-area {
    background: #27343e none repeat scroll 0 0;
    padding-bottom: 50px;
    padding-top: 60px;
}

.single-footer-widget .title {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    padding-bottom: 52px;
    position: relative;
    text-transform: uppercase;
}

.single-footer-widget .title::before {
    background: #30c957 none repeat scroll 0 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 34px;
    width: 37px;
}

.single-footer-widget .about-text {
    margin-top: -12px;
}

.single-footer-widget .about-text p {
    color: #ffffff;
}

.single-footer-widget .quicklinks {
    margin-top: -16px;
}

.single-footer-widget .quicklinks.floatleft {
    float: left;
    width: 155px;
}

.single-footer-widget .quicklinks.floatright {
    float: left;
}

.single-footer-widget .quicklinks li a:hover {
    color: #F56719;
    padding-left: 5px;
}

.single-footer-widget .quicklinks li a {
    color: #ffffff;
    line-height: 40px;
    padding: 0;
    transition: all .4s ease;
}

.single-footer-widget .twitter-feed {
    margin-top: -12px;
}

.single-footer-widget .twitter-feed li {
    margin-bottom: 19px;
}

.single-footer-widget .twitter-feed li:last-child {
    margin-bottom: 0;
}

.single-footer-widget .twitter-feed li .icon-holder {
    float: left;
    margin-right: 10px;
    margin-top: 2px;
}

.single-footer-widget .twitter-feed li .icon-holder i {
    color: #2ddbf5;
    font-size: 15px;
}

.single-footer-widget .twitter-feed li .text {
    overflow: hidden;
}

.single-footer-widget .twitter-feed li .text p {
    color: #fff;
    margin: 0;
}

.single-footer-widget .twitter-feed li .text span {
    color: #91a9bb;
}

.single-footer-widget .subscirbe-newsletter-form input {
    background: #384854 none repeat scroll 0 0;
    border: medium none;
    color: #bccad4;
    display: block;
    font-size: 11px;
    font-style: italic;
    height: 42px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 10px;
    width: 100%;
    outline: none;
}

.single-footer-widget .subscirbe-newsletter-form input:focus {
    background: #35536a;
}

.single-footer-widget .subscirbe-newsletter-form button {
    background: #30c957 none repeat scroll 0 0;
    border: medium none;
    border-radius: 20px;
    color: #ffffff;
    display: block;
    font-family: "Varela Round", sans-serif;
    font-size: 11px;
    height: 42px;
    text-transform: uppercase;
    width: 167px;
    margin-top: 30px;
    transition: all 700ms ease 0s;
}

.single-footer-widget .subscirbe-newsletter-form button:hover {
    background: #f56719;
}

.single-footer-widget .subscirbe-newsletter-form button i {
    display: inline-block;
    padding-left: 15px;
}

/*****************************
*= 14.  Footer Bottom styles
******************************/

.footer-bottom-area {
    background: #27343e;
}

.footer-bottom-area .copyright-text {
    border-top: 1px solid #374753;
    padding-bottom: 4px;
    padding-top: 12px;
}

.footer-bottom-area .copyright-text p {
    color: #91a9bb;
}

/*****************************
*= 15.  Event area  styles
******************************/

.event-area {
    background: #f5f4f4;
    /*padding-top: 75px;
    padding-bottom: 95px;*/
}

.event-area .single-event-item {
    background: #ffffff none repeat scroll 0 0;
    padding: 35px 25px 40px;
}

.event-area .single-event-item .icon-holder {
    width: 100%;
    height: 70px;
}

.event-area .single-event-item .text {
}

.event-area .single-event-item .text h4 {
    display: block;
    margin: 45px 0 -6px;
}

.event-area .single-event-item .text h4::after {
    background: #30c957 none repeat scroll 0 0;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    top: -54px;
    width: 40px;
}

.event-area .single-event-item .text h4 span {
    display: block;
}

.event-area .single-event-item .text p {
    margin: 0 0 30px;
}

.event-area .single-event-item a {
    background: #91a9bb;
    width: 130px;
    height: 40px;
    display: inline-block;
    color: #ffffff;
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 4px 0;
    font-family: 'Varela Round', sans-serif;
    transition: all 700ms ease 0s;
}

.event-area .single-event-item a:hover {
    background: #30c957 none repeat scroll 0 0;
}

/*****************************
*= 16.  Try Out Area styles
******************************/

.try-out-workshop-area {
    padding-bottom: 75px;
    padding-top: 105px;
}

.try-out-workshop-area .single-workshop-item {
    padding-bottom: 37px;
}

.try-out-workshop-area .single-workshop-item .top-box {
    background: #27343e none repeat scroll 0 0;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 15px;
}

.try-out-workshop-area .single-workshop-item .top-box .text {
    float: left;
}

.try-out-workshop-area .single-workshop-item .top-box .text h4 {
    color: #fff;
    margin: 18px 0 13px;
}

.try-out-workshop-area .single-workshop-item .top-box .text ul {
    overflow: hidden;
}

.try-out-workshop-area .single-workshop-item .top-box .text ul li {
    color: #ffffff;
    float: left;
    font-family: "Varela Round", sans-serif;
    font-size: 12px;
    margin-right: 20px;
}

.try-out-workshop-area .single-workshop-item .top-box .text ul li i {
    color: #91a9bb;
    display: inline-block;
    font-size: 14px;
    padding-right: 10px;
}

.try-out-workshop-area .single-workshop-item .top-box .value {
    background: #4a5c6a none repeat scroll 0 0;
    border-radius: 50%;
    float: right;
    height: 54px;
    margin-bottom: 0;
    margin-top: 12px;
    padding: 16px 10px;
    width: 54px;
}

.try-out-workshop-area .single-workshop-item .top-box .value h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.try-out-workshop-area .single-workshop-item .top-box .value h3 p {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    position: relative;
    top: -5px;
}

.try-out-workshop-area .single-workshop-item .bottom-box {
    border-bottom: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    padding-bottom: 15px;
    padding-top: 16px;
}

.try-out-workshop-area .single-workshop-item .bottom-box .speaker-name {
    float: left;
    padding-left: 15px;
}

.try-out-workshop-area .single-workshop-item .bottom-box .speaker-name .img-holder {
    float: left;
    margin-right: 18px;
}

.try-out-workshop-area .single-workshop-item .bottom-box .speaker-name p {
    color: #252525;
    float: left;
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 18px 0;
}

.try-out-workshop-area .single-workshop-item .bottom-box .speaker-name p span {
    color: #5f5f5f;
    padding-right: 7px;
}

.try-out-workshop-area .single-workshop-item .bottom-box .learn-more {
    float: right;
    padding-right: 20px;
}

.try-out-workshop-area .single-workshop-item .bottom-box .learn-more a {
    color: #30c957;
    font-family: "Varela Round", sans-serif;
    font-size: 12px;
    padding: 18px 0;
    text-transform: uppercase;
    display: block;
    transition: all 700ms ease 0s;
}

.try-out-workshop-area .single-workshop-item .bottom-box .learn-more a:hover {
    color: #f56719;
}

.try-out-workshop-area .single-workshop-item .bottom-box .learn-more a i {
    display: inline-block;
    padding-right: 10px;
    font-size: 15px;
}

.try-out-workshop-area .load-more-button a {
    background: #ced9e1 none repeat scroll 0 0;
    border-radius: 20px;
    color: #ffffff;
    display: inline-block;
    font-family: "Varela Round", sans-serif;
    font-size: 11px;
    height: 40px;
    padding: 5px 0;
    text-transform: uppercase;
    width: 120px;
    margin-top: 18px;
    transition: all 700ms ease 0s;
}

.try-out-workshop-area .load-more-button a:hover {
    background: #30c957 none repeat scroll 0 0;
}

/***********************************************
*=  Why choose and progress area  styles
************************************************/

.why-choose-and-progress-area {
    background: #fff none repeat scroll 0 0;
    padding-bottom: 82px;
    padding-top: 105px;
}

.why-choose-content .text p {
    margin: 0 0 33px;
}

.why-choose-content .text a {
    width: 175px;
    height: 42px;
    background: #30c957;
    display: block;
    text-align: center;
    border-radius: 20px;
    color: #ffffff;
    font-size: 11px;
    text-transform: uppercase;
    padding: 6px 0;
    font-family: 'Varela Round', sans-serif;
    transition: all 700ms ease 0s;
}

.why-choose-content .text a:hover {
    background: #F56719;
}

.section-title-2 {
    padding-bottom: 10px;
}

.section-title-2 h1 {
    color: #252525;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 29px;
    margin-top: -3px;
}

.section-title-2 h1::after {
    background: #30c957 none repeat scroll 0 0;
    content: "";
    display: inline-block;
    height: 2px;
    width: 57px;
}

.section-title-2 h1 span {
    display: block;
}

.why-choose-and-progress-area .progress-label h4 {
    color: #27343e;
    font-family: "Varela Round", sans-serif;
    font-size: 12px;
    margin: 0 0 20px;
    text-transform: uppercase;
}

.why-choose-and-progress-area .progress {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 53px;
    overflow: visible;
}

.why-choose-and-progress-area .progress.slim {
    height: 4px;
}

.why-choose-and-progress-area .progress-bar-striped,
.progress-striped .progress-bar {
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 30px 30px;
}

.why-choose-and-progress-area .progress-bar-primary {
    background-color: #f56d23;
}

.why-choose-and-progress-area .progress-bar-primary.event-management {
    background: #39cb5e;
}

.why-choose-and-progress-area .progress-bar {
    border-radius: 10px;
    box-shadow: none;
    position: relative;
}

.why-choose-and-progress-area span.progress-bar-tooltip {
    background: rgba(0, 0, 0, 0) url("../img/resources/progress-bar-toltip.png") no-repeat scroll 2px 2px;
    color: #ffffff;
    display: block;
    font-size: 12px;
    height: 25px;
    position: absolute;
    right: -8px;
    top: -40px;
    width: 35px;
}

/*****************************
*= 17.  News Letter Area styles
******************************/

.newsletter-area {
    background: rgba(0, 0, 0, 0) url("../img/resources/news-letter-b.jpg") no-repeat scroll 0 0 / 100% auto;
    padding-bottom: 117px;
    padding-top: 146px;
    position: relative;
    z-index: 1;
}

.newsletter-area:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #27343e;
    opacity: .44;
    z-index: -1;
}

.newsletter-area .newsletter {
    width: 1290px;
    margin: 0 auto;
}

.newsletter-area .newsletter h1 {
    color: #ffffff;
    display: inline-block;
    float: left;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-right: 60px;
    text-transform: uppercase;
}

.newsletter-area .newsletter .news-letter-form {
    display: inline-block;
}

.newsletter-area .newsletter .news-letter-form input.your-name,
.newsletter-area .newsletter .news-letter-form input.your-email {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #85827d;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    font-style: italic;
    margin-right: 24px;
    padding-bottom: 0;
    position: relative;
    top: -13px;
    width: 280px;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 700ms ease 0s;
}

.newsletter-area .newsletter .news-letter-form input.your-name:focus {
    border-bottom: 1px solid #f56719;
}

.newsletter-area .newsletter .news-letter-form input.your-email:focus {
    border-bottom: 1px solid #f56719;
}

.newsletter-area .newsletter .news-letter-form button.sign-up {
    background: #f56719 none repeat scroll 0 0;
    border: medium none;
    border-radius: 20px;
    color: #ffffff;
    display: inline-block;
    font-family: "Varela Round", sans-serif;
    font-size: 11px;
    height: 42px;
    padding: 4px 0;
    text-transform: uppercase;
    width: 125px;
    margin-left: 20px;
    transition: all 700ms ease 0s;
}

.newsletter-area .newsletter .news-letter-form button.sign-up:hover {
    background: #30C957;
}

/*****************************
*= 18.  Event area home 3 styles
******************************/

.event-area-v2 {
    padding-top: 80px;
    padding-bottom: 90px;
}

.event-area-v2 .single-event-item {
}

.event-area-v2 .single-event-item .icon-holder {
    float: left;
    position: relative;
    top: -5px;
}

.event-area-v2 .single-event-item .text {
    overflow: hidden;
    padding-left: 30px;
}

.event-area-v2 .single-event-item .text h4 {
    margin: 0 0 5px;
}

.event-area-v2 .single-event-item .text p {
    margin: 0 0 20px;
}

.event-area-v2 .single-event-item .text a {
    background: #91a9bb;
    width: 130px;
    height: 40px;
    display: block;
    text-align: center;
    color: #ffffff;
    font-size: 11px;
    text-transform: uppercase;
    padding: 5px 0;
    font-family: 'Varela Round', sans-serif;
    border-radius: 20px;
    transition: all 700ms ease 0s;
}

.event-area-v2 .single-event-item .text a:hover {
    background: #30c957;
}

/*****************************
*= 19.  Main Event area styles
******************************/

.main-event-area {
    background: #f5f4f4 none repeat scroll 0 0;
    padding-bottom: 72px;
    padding-top: 38px;
}

.main-event-area .main-event-img-holder {
    position: relative;
    top: 37px;
}

.main-event-area .main-event-right {
    background: #fff none repeat scroll 0 0;
    left: -15px;
    padding: 0;
    position: relative;
    top: 37px;
    z-index: 2;
}

.main-event-right .main-event-text {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 35px;
}

.main-event-right .main-event-text h1 {
    color: #252525;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 9px;
}

.main-event-right .main-event-text h5 {
    color: #91a9bb;
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    margin: 0 0 16px;
}

.main-event-right .main-event-text p {
    margin: 16px 0 19px;
}

.main-event-right .meta {
    border-top: 1px solid #e6e6e6;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-top: 9px;
}

.main-event-right .meta li {
    display: inline-block;
    margin-right: 17px;
    color: #5f5f5f;
    font-size: 12px;
    font-family: 'Varela Round', sans-serif;
}

.main-event-right .meta li i {
    color: #30c957;
    font-size: 14px;
    display: inline-block;
    padding-right: 10px;
}

.main-event-area .readmore {
    margin-right: 20px;
    overflow: hidden;
}

.main-event-area .readmore a {
    background: #30c957 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: block;
    float: right;
    font-size: 20px;
    height: 73px;
    padding-top: 34px;
    text-align: center;
    width: 73px;
    transition: all 700ms ease 0s;
}

.main-event-area .readmore a:hover {
    background: #F56719;
}

/*****************************
*= 20.  Event Gallries styles
******************************/

.event-galleries-area {
    background: #f5f4f4;
    padding-top: 75px;
    padding-bottom: 80px;
}

.event-galleries-area .bottom-galleries {
    padding-top: 30px;
}

.event-galleries-area .img-holder img {
    width: 100%;
}

.event-galleries-area .img-holder {
    position: relative;
}

.event-galleries-area .img-holder .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(48, 201, 87, .75);
    transform: scale(0);
    transition: all .5s ease;
}

.event-galleries-area .img-holder:hover .overlay {
    transform: scale(1);
}

.event-galleries-area .img-holder .overlay .box {
    display: table;
    width: 100%;
    height: 100%;
}

.event-galleries-area .img-holder .overlay .box .content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.event-galleries-area .img-holder .overlay .box .content ul.info-links li {
    display: inline-block;
    padding: 0 5px;
}

.event-galleries-area .img-holder .overlay .box .content ul.info-links li a {
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #fff;
    line-height: 28px;
    font-size: 15px;
    color: #27343E;
    background: #fff;
    text-align: center;
    border-radius: 4px;
    transition: all .3s ease;
}

.event-galleries-area .img-holder .overlay .box .content ul.info-links li a:hover {
    color: #30C957;
    background: #252525;
}

.event-galleries-area .img-holder .overlay .box .content h3 {
    margin: 0;
    font-size: 17px;
    text-transform: capitalize;
    color: #fff;
    margin-top: 10px;
    font-weight: 600;
}

/*****************************
*= 21.  Bread Cumb styles
******************************/

.breadcrumb-area {
    background: rgba(0, 0, 0, 0) url("../img/resources/img-event.jpg") no-repeat scroll 0 0 / cover;
    padding-bottom: 107px;
    padding-top: 100px;
    position: relative;
    z-index: 1;
}

.breadcrumb-area::before {
    background: #27343e none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: .46;
    z-index: -1;
}

.breadcrumb-area h1 {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 5px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.breadcrumb-area h4 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

/*****************************
*= 22.  Single Event ARea styles
******************************/

.single-event-area {
    background: #f5f4f4 none repeat scroll 0 0;
    padding-top: 75px;
    padding-bottom: 85px;
}

.single-event-area .single-event-details {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    padding-bottom: 35px;
    padding-left: 25px;
    padding-top: 22px;
}

.single-event-area .single-event-details h3 {
    color: #252525;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 8px;
    font-family: 'Montserrat', sans-serif;
}

.single-event-area .single-event-details ul {
    padding-left: 5px;
}

.single-event-area .single-event-details ul li {
    color: #5f5f5f;
    font-size: 12px;
    line-height: 40px;
    font-family: 'Varela Round', sans-serif;
}

.single-event-area .single-event-details ul li i {
    color: #30c957;
    font-size: 13px;
    display: inline-block;
    padding-right: 10px;
}

.single-event-area .single-event-details ul li.guests {
    display: block;
    overflow: hidden;
}

.single-event-area .single-event-details ul li.guests p {
    display: inline-block;
}

.single-event-area .single-event-details ul li.guests .guests-right {
    float: right;
    width: 170px;
}

.single-event-area .single-event-details ul li.guests .guests-right p {
    color: #252525;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    margin: 10px 0 0;
    font-family: 'Varela Round', sans-serif;
}

.single-event-area .single-event-details ul li span {
    color: #252525;
    display: inline-block;
    font-weight: 600;
    padding-right: 5px;
}

.single-event-area .single-event-details .speaker {
    overflow: hidden;
    padding-top: 15px;
}

.single-event-area .single-event-details .speaker h5 {
    color: #252525;
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 8px;
}

.single-event-area .single-event-details .speaker .img-holder {
    float: left;
}

.single-event-area .single-event-details .speaker .text {
    overflow: hidden;
    padding-left: 10px;
}

.single-event-area .single-event-details .speaker .text p {
    color: #252525;
    font-family: "Varela Round", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 8px;
    margin: 20px 0 0;
}

.single-event-area .single-event-details .speaker .text span {
    color: #30c957;
    font-family: "Varela Round", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 8px;
    margin: 20px 0 0;
}

.single-event-area .single-event-details a {
    background: #f56719 none repeat scroll 0 0;
    border-radius: 20px;
    color: #ffffff;
    display: block;
    font-family: "Varela Round", sans-serif;
    font-size: 11px;
    height: 39px;
    margin-top: 25px;
    padding: 4px 0;
    text-align: center;
    text-transform: uppercase;
    width: 123px;
    transition: all 700ms ease 0s;
}

.single-event-area .single-event-details a:hover {
    background: #30c957;
}

.single-event-area .single-event-bottom-text {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 5px;
    margin-top: 30px;
    overflow: hidden;
    padding: 30px 30px 40px 25px;
}

.single-event-area .single-event-bottom-text h1 {
    color: #252525;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 23px;
    margin: 0 0 12px;
    text-transform: capitalize;
}

.single-event-area .single-event-bottom-text span {
    color: #30c957;
    font-size: 14px;
    font-family: 'Varela Round', sans-serif;
}

.single-event-area .single-event-bottom-text p {
    margin: 1px 0 32px;
}

.single-event-area .single-event-bottom-text ul {
}

.single-event-area .single-event-bottom-text ul li {
    color: #252525;
    float: left;
    font-family: "Montserrat", sans-serif;
    font-size: 34px;
    line-height: 34px;
    margin-right: 75px;
    text-align: center;
}

.single-event-area .single-event-bottom-text ul li:last-child {
    margin-right: 0;
}

.single-event-area .single-event-bottom-text ul li p {
    color: #30c957;
    font-size: 12px;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

.upcoming-event-area.related-event-area {
    padding-bottom: 90px;
    padding-top: 70px;
}

/*****************************
*= 23.  Event Grid styles
******************************/

.event-grid-area {
    padding-bottom: 60px;
    padding-top: 75px;
}

.event-gallery-filter {
    padding-bottom: 55px;
}

.event-gallery-filter li {
    display: inline-block;
    margin-right: 17px;
}

.event-gallery-filter li span {
    background: #dde4ea none repeat scroll 0 0;
    border-radius: 20px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 11px;
    line-height: 33px;
    padding: 0 23px;
    text-transform: uppercase;
    transition: all 300ms ease 0s;
}

.event-gallery-filter li.active span {
    background: #30c957;
}

.event-gallery-filter li span:hover {
    background: #30c957;
}

.showing-page {
    margin: 5px 0 0;
}

.showing-page p {
    color: #5f5f5f;
    font-size: 12px;
    line-height: 20px;
    font-family: 'Varela Round', sans-serif;
}

.container .mix {
    display: none;
}

.event-grid-area .single-upcoming-event-item {
    overflow: hidden;
    margin-bottom: 80px;
}

.paginations {
    margin-top: -10px;
}

.paginations ul {
}

.paginations ul li {
    display: inline-block;
}

.paginations ul li a {
    color: #5f5f5f;
    display: block;
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    width: 32px;
    transition: all 300ms ease 0s;
    border-radius: 50%;
}

.paginations ul li.active a {
    background: #f56719 none repeat scroll 0 0;
    display: block;
    padding: 0 12px;
    color: #ffffff;
    border-radius: 50%;
}

.paginations ul li a:hover {
    background: #f56719 none repeat scroll 0 0;
    display: block;
    padding: 0 12px;
    color: #ffffff;
    border-radius: 50%;
}

/*****************************
*= 24.  Event List page styles
******************************/

.event-list-area {
    padding-bottom: 60px;
    padding-top: 75px;
}

.event-list-area .event-gallery-filter {
    padding-bottom: 17px;
}

.event-list-area .single-event-list {
    padding-bottom: 40px;
}

.event-list-area .single-event-list .img-holder {
    position: relative;
    top: 38px;
}

.event-list-area .single-event-list .img-holder img {
    width: 100%;
}

.event-list-area .single-event-list .event-list-content {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    left: -15px;
    padding: 0;
    position: relative;
    top: 38px;
    z-index: 2;
}

.event-list-area .single-event-list .event-list-content .text {
    padding-left: 30px;
    padding-right: 20px;
}

.event-list-area .single-event-list .event-list-content .text h1 {
    color: #252525;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    margin: 37px 0 0;
}

.event-list-area .single-event-list .event-list-content .text span {
    font-size: 14px;
    color: #30c957;
    font-family: 'Varela Round', sans-serif;
}

.event-list-area .single-event-list .event-list-content .text p {
    margin: 2px 0 38px;
}

.event-list-area .single-event-list .event-list-content ul {
    border-top: 1px solid #e6e6e6;
    padding-bottom: 9px;
    padding-left: 30px;
    padding-top: 9px;
}

.event-list-area .single-event-list .event-list-content ul li {
    color: #5f5f5f;
    display: inline-block;
    font-size: 12px;
    margin-right: 17px;
    font-family: 'Varela Round', sans-serif;
}

.event-list-area .single-event-list .event-list-content ul li span {
    font-weight: 600;
}

.event-list-area .single-event-list .event-list-content ul li i {
    color: #30c957;
    display: inline-block;
    font-size: 14px;
    padding-right: 10px;
}

.event-list-area .single-event-list .read-more-button {
    margin-right: 20px;
    overflow: hidden;
}

.event-list-area .single-event-list .read-more-button a {
    background: #30c957 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: block;
    float: right;
    font-size: 20px;
    height: 73px;
    padding-top: 34px;
    text-align: center;
    transition: all 700ms ease 0s;
    width: 73px;
}

.event-list-area .single-event-list .read-more-button a:hover {
    background: #F56719;
}

.event-list-area .paginations {
    margin-top: 34px;
}

/*****************************
*= 25.  About Page styles
******************************/

.our-history-area {
    padding-bottom: 34px;
    padding-top: 75px;
}

.our-history-area .img-holder img {
    width: 100%;
}

.our-history-area .text {
}

.our-history-area .text p {
    margin: 1px 0 39px;
}

.our-history-area .text a {
    background: #30c957 none repeat scroll 0 0;
    border-radius: 20px;
    color: #ffffff;
    display: block;
    font-size: 11px;
    height: 42px;
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
    width: 187px;
    font-family: 'Varela Round', sans-serif;
    transition: all 700ms ease 0s;
}

.our-history-area .text a:hover {
    background: #F56719;
}

.why-choose-and-progress-area.what-we-do-area {
    padding-bottom: 100px;
}

.what-we-do-content ul {
}

.what-we-do-content ul li {
    margin-bottom: 50px;
}

.what-we-do-content ul li:last-child {
    margin-bottom: 0;
}

.what-we-do-content ul li .icon-holder {
    float: left;
}

.what-we-do-content ul li .content {
    overflow: hidden;
    padding-left: 30px;
}

.what-we-do-content ul li .content h4 {
    margin: 0 0 4px;
}

.what-we-do-content ul li .content p {
}

/*****************************
*= 26.  Service page styles
******************************/

.service-area {
    padding-bottom: 37px;
    padding-top: 80px;
}

.service-area .single-service-item {
    padding-bottom: 60px;
}

.service-area .single-service-item .icon-holder {
    float: left;
    position: relative;
    top: -5px;
}

.service-area .single-service-item .content {
    overflow: hidden;
    padding-left: 30px;
}

.service-area .single-service-item .content h4 {
    margin: 0 0 5px;
}

.service-area .single-service-item .content p {
}

.event-area.services-event-area {
    background: #fff none repeat scroll 0 0;
    padding-bottom: 75px;
    padding-top: 80px;
}

.event-area.services-event-area .single-event-item {
    border: 1px solid #e8e8e8;
}

/*****************************
*= 27.  Pricing Page styles
******************************/

.pricing-area.pricing-page {
    padding-top: 85px;
}

/*****************************
*= 28.  Event Schedule styles
******************************/

.weekly-event-schedule-area.event-schedule-page {
    padding-bottom: 50px;
}

.weekly-event-schedule-area h1 {
    color: #252525;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    margin: 0 0 46px;
}

.download-schedule.schedule-page a {
    margin-top: 0;
}

.weekly-event-schedule-area.event-schedule-page .next-prev-button {
    padding-top: 60px;
}

.weekly-event-schedule-area.event-schedule-page .next-prev-button a {
    background: #bbcddb none repeat scroll 0 0;
    border-radius: 20px;
    display: inline-block;
    height: 38px;
    text-align: center;
    width: 93px;
    color: #ffffff;
    font-size: 11px;
    text-transform: uppercase;
    padding: 4px 0;
    margin: 0 6px;
    font-family: 'Varela Round', sans-serif;
    transition: all 700ms ease 0s;
}

.weekly-event-schedule-area.event-schedule-page .next-prev-button a:hover {
    background: #30C957;
}

.weekly-event-schedule-area.event-schedule-page .next-prev-button a.prev i {
    display: inline-block;
    font-size: 14px;
    padding-right: 10px;
}

.weekly-event-schedule-area.event-schedule-page .next-prev-button a.next i {
    display: inline-block;
    font-size: 14px;
    padding-left: 10px;
}

/*****************************
*= 29.  Blog Page styles
******************************/

.blog-content {
    padding-bottom: 50px;
    padding-top: 75px;
}

.blog-content.blog-two-col .single-blog-post {
    margin-bottom: 30px;
}

.single-blog-item {
    overflow: hidden;
    padding-bottom: 75px;
}

.single-blog-item .img-holder {
}

.single-blog-item .content {
}

.single-blog-item .content h3 {
    margin: 17px 0 3px;
}

.single-blog-item .content h3 a {
    color: #27343e;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    line-height: 23px;
    transition: all 300ms ease 0s;
}

.single-blog-item .content h3 a:hover {
    color: #30c957;
}

.single-blog-item .content .meta li {
    display: inline-block;
}

.single-blog-item .content .meta li::after {
    color: #30c957;
    content: "/";
    display: inline-block;
    margin: 0 1px 0 5px;
}

.single-blog-item .content .meta li:last-child::after {
    content: "";
}

.single-blog-item .content .meta li a {
    color: #30c957;
    font-size: 12px;
    font-family: 'Varela Round', sans-serif;
}

.single-blog-item .content p {
    margin: 2px 0 1px;
}

.single-blog-item .content .read-more-button {
    color: #f56719;
    font-family: "Varela Round", sans-serif;
    font-size: 12px;
    font-weight: 600;
    float: right;
}

.single-blog-item .content .read-more-button i {
    padding-right: 8px;
    font-size: 15px;
    font-weight: 600;
}

.paginations.blog ul li a {
    text-align: center;
}

.blog-content.single-blog-page .single-blog-item .content p {
    color: #707070;
    font-size: 12px;
    line-height: 32px;
}

.blog-content.single-blog-page .single-blog-item .content ul {
    margin: 0;
    padding-left: 15px;
    margin-top: 10px;
}

.blog-content.single-blog-page .single-blog-item .content ul li {
    color: #707070;
    font-size: 12px;
    line-height: 32px;
    list-style: disc;
}

.blog-content.single-blog-page .single-blog-item .content h3 {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Varela Round', sans-serif;
    color: #1A1A1A;
    margin: 0;
}

.blog-content.single-blog-page blockquote {
    font-size: 14px;
    color: #858585;
    line-height: 32px;
}

.blog-content.single-blog-page span.highlighted {
    background: #FF3720;
    color: #fff;
}

.author-area .author-box,
.author-area .author-content {
    display: table-cell;
    vertical-align: top;
}

.author-area .author-box {
    width: 200px;
}

.author-area .author-box img {
    width: 100%;
}

.author-area .author-content {
    padding-left: 25px;
}

.author-area .author-content p {
    color: #707070;
    font-size: 12px;
    line-height: 32px;
}

.author-area .author-content h3 {
    margin-bottom: 10px;
    color: #1a1a1a;
    font-size: 14px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    margin: 0;
    margin-bottom: 7px;
}

.author-area .author-content .social li a {
    font-size: 15px;
    color: #1a1a1a;
}

.single-blog-page .comments-area {
    position: relative;
}

.single-blog-page .group-title {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 15px;
}

.single-blog-page .group-title h2 {
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;
    color: #1a1a1a;
    font-weight: normal;
    margin-bottom: 0px;
}

.single-blog-page .group-title:before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background: #f1f1f1;
}

.single-blog-page .group-title:after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 50px;
    height: 2px;
    background: #FF3720;
}

.single-blog-page .comments-area .comment-box {
    position: relative;
}

.single-blog-page .comments-area .comment {
    position: relative;
    margin: 0px 0px 40px 0px;
    padding: 0px 0px 10px 100px;
}

.single-blog-page .comments-area .reply-comment {
    margin-left: 50px;
}

.single-blog-page .comments-area .comment-box .author-thumb {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 84px;
    height: 84px;
    border: 3px solid #ffffff;
    box-shadow: 0px 0px 2px 0px #FF3720;
    -moz-box-shadow: 0px 0px 2px 0px #FF3720;
    -ms-box-shadow: 0px 0px 2px 0px #FF3720;
    -o-box-shadow: 0px 0px 2px 0px #FF3720;
    -webkit-box-shadow: 0px 0px 2px 0px #FF3720;
}

.single-blog-page .comments-area .comment-box .author-thumb img {
    width: 100%;
    display: block;
}

.single-blog-page .comments-area .comment-info {
    margin-bottom: 10px;
    color: #bcbcbc;
    font-size: 14px;
    font-family: 'Varela Round', sans-serif;
}

.single-blog-page .comments-area .text {
    margin-bottom: 10px;
    color: #707070;
    font-size: 12px;
    line-height: 32px;
}

.single-blog-page .comments-area .comment-box strong {
    color: #1a1a1a;
    font-weight: 500;
}

.single-blog-page .comments-area .reply-option {
    color: #999999;
}

.single-blog-page .comments-area .reply-option .theme-btn {
    padding: 6px 25px;
    margin: 3px 10px;
}

.comment-form .form-group {
    position: relative;
    margin-bottom: 20px;
}

.comment-form .form-group input[type="text"],
.comment-form .form-group input[type="password"],
.comment-form .form-group input[type="tel"],
.comment-form .form-group input[type="email"],
.comment-form .form-group textarea,
.comment-form .form-group select {
    position: relative;
    display: block;
    width: 100%;
    line-height: 24px;
    padding: 8px 15px;
    color: #222222;
    border: 1px solid #d0d0d0;
    height: 42px;
    outline: none;
    border-radius: 3px;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}

.comment-form .form-group input[type="text"]:focus,
.comment-form .form-group input[type="password"]:focus,
.comment-form .form-group input[type="tel"]:focus,
.comment-form .form-group input[type="email"]:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus {
    border-color: #FF3720;
}

.comment-form .form-group textarea {
    position: relative;
    display: block;
    width: 100%;
    line-height: 22px;
    padding: 10px 15px;
    color: #222222;
    border: 1px solid #d0d0d0;
    height: 170px;
    resize: none;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}

.comment-form button {
    position: relative;
    display: inline-block;
    background: #FF3720;
    color: #fff;
    border-color: #FF3720;
}

.sidebar-wrapper .sidebar-title {
    margin-bottom: 30px;
    margin-top: -10px;
    padding-bottom: 15px;
    position: relative;
}

.sidebar-wrapper .sidebar-title::after {
    background: #f56719 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 35px;
}

.sidebar-wrapper .sidebar-title::before {
    background: #efefef none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
}

.sidebar-wrapper .sidebar-title h3 {
    color: #27343e;
    font-size: 14px;
    line-height: 32px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
}

.single-sidebar {
    margin-bottom: 45px;
    overflow: hidden;
}

.single-sidebar .categories-lists {
    margin-top: -7px;
}

.single-sidebar .categories-lists li {
    line-height: 42px;
}

.single-sidebar .categories-lists li a {
    color: #27343e;
    font-size: 12px;
    font-family: 'Varela Round', sans-serif;
    transition: all 300ms ease 0s;
}

.single-sidebar .categories-lists li a:hover {
    color: #30c957;
}

.single-sidebar .categories-lists li a span {
    float: right;
    color: #30c957;
}

.single-sidebar .recent-post-list {
    overflow: hidden;
    padding-bottom: 28px;
}

.single-sidebar .recent-post-list li {
    margin-bottom: 30px;
}

.single-sidebar .recent-post-list li:last-child {
    margin-bottom: 0;
}

.single-sidebar .recent-post-list li .img-holder {
    width: 68px;
}

.single-sidebar .recent-post-list li .img-holder a img {
    border-radius: 5px;
}

.single-sidebar .recent-post-list li .content {
    line-height: 23px;
    padding-left: 20px;
}

.single-sidebar .recent-post-list li .img-holder,
.single-sidebar .recent-post-list li .content {
    display: table-cell;
    vertical-align: top;
}

.single-sidebar .recent-post-list li .content p {
    font-size: 12px;
    line-height: 23px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.single-sidebar .recent-post-list li .content p a {
    color: #27343e;
    transition: all 300ms ease 0s;
}

.single-sidebar .recent-post-list li .content p a:hover {
    color: #30c957;
}

.single-sidebar .recent-post-list li .content span {
    color: #30c957;
    font-family: "Varela Round", sans-serif;
    font-size: 10px;
    font-weight: 600;
}

.single-sidebar .gallery-list {
}

.single-sidebar .gallery-list li {
    float: left;
    padding: 0 3px 3px 0;
}

.single-sidebar .gallery-list li a img {
    border-radius: 5px;
    display: block;
}

/*****************************
*= 30.  Contact Page styles
******************************/

.contact-info-area {
    padding-bottom: 30px;
    padding-top: 75px;
}

.contact-info {
    margin: 0 auto;
    width: 1100px;
}

.contact-info ul li {
    display: inline-block;
    margin-right: 65px;
}

.contact-info ul li:last-child {
    margin-right: 0;
}

.contact-info ul li .icon-holder {
    background: #30c957 none repeat scroll 0 0;
    border-radius: 50%;
    height: 64px;
    text-align: center;
    width: 64px;
    transition: all 700ms ease 0s;
}

.contact-info ul li:hover .icon-holder {
    background: #F56719;
}

.contact-info ul li .icon-holder img {
    padding: 5px 0;
}

.contact-info ul li .text {
    padding-left: 20px;
}

.contact-info ul li .text h6 {
    color: #252525;
    font-size: 13px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
}

.contact-info ul li .icon-holder,
.contact-info ul li .text {
    display: table-cell;
    vertical-align: middle;
}

#contact-page-google-map {
    height: 415px;
    width: 100%;
}

.contact-form-area {
    padding-bottom: 75px;
    padding-top: 26px;
}

.contact-form .field-label {
    color: #27343e;
    display: block;
    font-size: 11px;
    line-height: 36px;
    text-transform: uppercase;
    font-family: 'Varela Round', sans-serif;
    font-weight: 500;
    margin-bottom: 6px;
}

.contact-form .field-label .req {
    color: #ff000c;
    font-size: 20px;
}

.contact-form input[type="text"],
.contact-form textarea {
    border: 1px solid #e2ebf1;
    border-radius: 3px;
    color: #91a9bb;
    font-size: 11px;
    font-style: italic;
    height: 40px;
    padding: 0 20px;
    width: 100%;
    display: block;
    padding: 10px 20px;
    margin-bottom: 20px;
    outline: none;
    transition: all 500ms ease 0s;
}

.contact-form input[type="text"]:focus {
    border: 1px solid #F56719;
}

.contact-form textarea:focus {
    border: 1px solid #F56719;
}

.contact-form textarea {
    height: 290px;
    padding: 12px 20px;
}

.contact-form .send-message {
    background: #30c957 none repeat scroll 0 0;
    border: medium none;
    border-radius: 20px;
    color: #ffffff;
    display: block;
    float: right;
    font-size: 11px;
    height: 39px;
    margin-top: 15px;
    padding: 4px 0;
    text-align: center;
    text-transform: uppercase;
    width: 168px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 500;
    transition: all 500ms ease 0s;
}

.contact-form .send-message i {
    display: inline-block;
    padding-left: 15px;
}

.contact-form .send-message:hover {
    background: #F56719;
}

/*****************************
*= 31.  Speaker Carousel styles
******************************/

.speaker-carousel {
    margin-top: 70px;
}

.speaker-carousel.owl-theme .owl-nav [class*=owl-] {
    background: #3B3D3F;
    width: 35px;
    height: 35px;
    font-size: 15px;
    padding: 0;
    line-height: 35px;
    transition: all .3s ease;
}

.speaker-carousel.owl-theme .owl-nav [class*=owl-]:hover {
    background: #30C957;
}

.single-speaker-carousel {
    position: relative;
    width:371px;
    height:206px;
}


.single-speaker-carousel .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.single-speaker-carousel .box {
    display: table;
    width: 100%;
    height: 100%;
}

.single-speaker-carousel .content {
    display: table-cell;
    vertical-align: bottom;
}

.single-speaker-carousel .content .speaker-infos {
    background: rgba(39, 52, 62, .85);
    padding: 10px;
    transform: translate3d(0, 57px, 0);
    transition: all .5s ease;
}

.single-speaker-carousel:hover .content .speaker-infos {
    transform: translate3d(0, 0px, 0);
}

.single-speaker-carousel .content .speaker-infos span {
    color: #30C957;
    font-size: 10px;
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    line-height: 18px;
    display: block;
}

.single-speaker-carousel .content .speaker-infos h4 {
    color: #FFFFFF;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
    text-transform: capitalize;
}

.single-speaker-carousel .content .speaker-infos a {
    width: 36px;
    height: 36px;
    background: #30C957;
    display: block;
    color: #fff;
    text-align: center;
    line-height: 36px;
    font-size: 17px;
    border-radius: 5px;
}

.single-speaker img {
    width: 100%;

}

/******************************************
*=  Contact Form Validation styles
*******************************************/

.cf-validation label.error {
    display: none !important;
}

.cf-validation input.error,
.cf-validation textarea.error {
    background: rgba(255, 0, 0, .15);
}

/*****************************
*= 32.  Count Down styles
******************************/

#countdown {
    background: #F5F4F4;
    display: inline-block;
    padding: 17px 20px;
    padding-bottom: 10px;
}

#countdown li {
    display: inline-block;
}

#countdown li .box {
    display: block;
    text-align: center;
}

#countdown li .box span {
    display: block;
    color: #27343E;
    font-size: 56px;
    line-height: 56px;
    font-weight: 600;
    font-family: 'Montserrat';
}

#countdown li .box span:after {
    content: ':';
    display: inline-block;
    color: #27343E;
    vertical-align: top;
    position: relative;
    bottom: 5px;
    margin-left: 3px;
}

#countdown li:last-child .box span:after {
    display: none;
}

#countdown li:last-child .box p {
    text-indent: 0;
}

#countdown li .box p {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    color: #252525;
    margin: 0;
    font-weight: 600;
    text-indent: -15px;
    font-family: 'Montserrat';
}

/*****************************
*= 33.  Cooming Soon styles
******************************/

.cooming-soon {
    height: 100vh;
    position: relative;
    min-height: 600px;
    text-align: center;
}

.cooming-soon .background-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cooming-soon:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    background: rgba(0, 0, 0, .50);
}

.cooming-soon .box {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 99;
}

.cooming-soon .box .content {
    display: table-cell;
    vertical-align: middle;
}

.cooming-soon .box .content {
    display: table-cell;
    vertical-align: middle;
}

.cooming-soon h1 {
    font-size: 72px;
    line-height: 72px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cooming-soon .countdown {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-bottom: 34px;
}

.cooming-soon .countdown:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: #ffef8d;
    width: 100%;
    height: 74px;
    z-index: -1;
    opacity: .43;
    border: 3px solid #84706d;
}

.cooming-soon .countdown h2 {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    font-weight: 600;
    padding: 0px 20px !important;
}

.cooming-soon input {
    background: #384854;
    width: 200px;
    height: 40px;
    color: #fff;
    border: none;
    font-size: 13px;
    outline: none;
    padding-left: 10px;
}

.cooming-soon button {
    background: #30C957;
    color: #fff;
    border: none;
    outline: none;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    margin-left: -5px;
    padding: 0 10px;
}

.cooming-soon .social {
    margin-top: 10px;
}

.cooming-soon .social li {
    margin-right: 5px;
}

.cooming-soon .social li a {
    font-size: 18px;
    color: #fff;
    transition: all .3s ease;
}

.cooming-soon .social li a:hover {
    color: #30C957;
}

.cooming-soon p {
    font-size: 15px;
    color: #F3681A;
}

/*****************************
*= 34.  Accrodion styles
******************************/

.accrodion-grp .accrodion {
    margin-bottom: 25px;
}

.accrodion-grp .accrodion:last-child {
    margin-bottom: 0px;
}

.accrodion-grp .accrodion .accrodion-title {
    background: #F0F0F0;
    padding: 17px 0;
    cursor: pointer;
    padding-left: 55px;
    position: relative;
}

.accrodion-grp .accrodion .accrodion-title:before {
    content: '\f107';
    font-family: 'Fontawesome';
    color: #FE402B;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 22px;
    line-height: 48px;
}

.accrodion-grp .accrodion.active .accrodion-title:before {
    content: '\f106';
}

.accrodion-grp .accrodion .accrodion-title h4 {
    font-size: 13px;
    color: #1A1A1A;
    font-weight: 600;
    font-family: 'Montserrat';
    margin: 00px;
}

.accrodion-grp .accrodion .accrodion-content {
    padding-left: 55px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.accrodion-grp .accrodion .accrodion-content p {
    margin: 0;
    font-size: 12px;
    line-height: 32px;
    color: #5F5F5F;
}


.section {
    padding: 60px 0;
}
.testimonial {
    background: url(../img/bg_2.jpg) fixed;
    background-size: cover;
    position: relative;
}
.overlay {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.92), rgba(0, 0, 0, 0.59));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.92), rgba(0, 0, 0, 0.59));
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.big-testimonials-wrapper {
    color: #eee;
    text-align: center;
    min-height: 300px;
}
.slide{
  opacity: 0;
}
.active-slide{
  opacity: 1;
}