{% extends 'header.html' %}
{% load staticfiles %}
{% load daguerre %}
{% block content %}



<!--Start breadcrumb area-->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{event.venue|upper}}</h1>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start single event area-->
<section class="single-event-area">
    <div class="container">
        <div class="row">

            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
            {% if event.photo %}
                <div class="single-event-img">
                    <img src="{% adjust event.photo 'fit' width='871' height='480' %}" alt="Awesome Image">
                </div>
                 {% endif %}
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <div class="single-event-details">
                    <h3>Event Details</h3>
                    <ul>
                        <li><i aria-hidden="true" class="fa fa-calendar"></i>{{event.date}}</li>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i>{{event.venue}}</li>
                        <li><i aria-hidden="true" class="fa fa-bookmark-o"></i>business event</li>
                        <li class="guests"><i class="fa fa-user" aria-hidden="true"></i>
                            <p>guests</p>
                            <div class="guests-right">
                                <p>Mark Parker, Johna Hill,<br>Jonson Daning</p>
                            </div>
                        </li>
                        <li><i class="fa fa-tags" aria-hidden="true"></i><span>$39</span>/ per person</li>
                    </ul>
                    <div class="speaker">
                        <h5>Speaker:</h5>
                        <div class="img-holder">
                            <img src="img/event/single-event/speaker.png" alt="">
                        </div>
                        <div class="text">
                            <p>Mark Terence</p>
                            <span>Entertainer</span>
                        </div>
                    </div>
                    <a href="">BUY TICKETS</a>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <div class="single-event-bottom-text">
                    <h1>{{event.name}}</h1>
                    <span>An Afroneventsinternational project</span>
                    <p>{{event.details}}</p>

                    <ul>
                        <li>1241<p>Participants</p></li>
                        <li>14<p>Speakers</p></li>
                        <li>3h<p>Duration</p></li>
                        <li>457<p>Free Seats</p></li>
                        <li>18<p>Days to go</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End single event area-->

<!--Start upcoming event area-->
<section class="upcoming-event-area related-event-area">
    <div class="container">
        <div class="section-title text-center">
            <h1>Related Events</h1>
            <div class="icon-holder">
                <img src="img/resources/section-title-icon.png" alt="Awesome Image">
            </div>
        </div>
        <div class="row">
            <!--Start single upcoming event item-->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-upcoming-event-item">
                    <div class="img-holder">
                        <img src="img/event/related-event/1.jpg" alt="Awesome Image">
                    </div>
                    <div class="content">
                        <h5>Suscipit lobortis nisl ut aliquip ex ea commodo era modno weta</h5>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.</p>
                        <ul>
                            <li><i class="fa fa-calendar" aria-hidden="true"></i>7th Jan, 2016</li>
                            <li><i class="fa fa-bookmark" aria-hidden="true"></i>business event</li>
                        </ul>
                    </div>
                    <div class="readmore">
                        <a href=""><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <!--End single upcoming event item-->
            <!--Start single upcoming event item-->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-upcoming-event-item">
                    <div class="img-holder">
                        <img src="img/event/related-event/2.jpg" alt="Awesome Image">
                    </div>
                    <div class="content">
                        <h5>Nam liber tempor cum soluta nobis eleifend weste mondar</h5>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.</p>
                        <ul>
                            <li><i class="fa fa-calendar" aria-hidden="true"></i>14th Jan, 2016</li>
                            <li><i class="fa fa-bookmark" aria-hidden="true"></i>outdoor party</li>
                        </ul>
                    </div>
                    <div class="readmore">
                        <a href=""><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <!--End single upcoming event item-->
            <!--Start single upcoming event item-->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-upcoming-event-item">
                    <div class="img-holder">
                        <img src="img/event/related-event/3.jpg" alt="Awesome Image">
                    </div>
                    <div class="content">
                        <h5>uis autem vel eum iriure dolor in hendrerit in vulputate molestie</h5>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.</p>
                        <ul>
                            <li><i class="fa fa-calendar" aria-hidden="true"></i>11th Jan, 2016</li>
                            <li><i class="fa fa-bookmark" aria-hidden="true"></i>sports event</li>
                        </ul>
                    </div>
                    <div class="readmore">
                        <a href=""><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <!--End single upcoming event item-->
        </div>
    </div>
</section>
<!--End upcoming event area-->

{% endblock %}