{% extends 'header.html' %}
{% load staticfiles %}
{% load daguerre %}
{% block content %}

<!--Start Top area-->  
<section class="top-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="social-linls pull-left">
                    <a href=""><i class="fa fa-facebook myfb" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="top-right pull-right">
                    <ul class="login-register clearfix">
                        <li><a href="">log in</a></li>
                        <li><a href="">Register</a></li>
                        <li class="lang-list">
                            <select class="dropdown select-menu" tabindex="4">
						          <option class="label" value="">En</option>
						          <option value="1">English</option>
						          <option value="2">French</option>
						          <option value="3">German</option>
					       </select>
                        </li>
                    </ul>
                    <ul class="cart-total clearfix">
                        <li class="item-count"><a href=""><p>3</p></a></li>
                        <li class="buskat"><a href=""><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="buy-ticket">
                        <a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>Buy Tickets</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Top area-->
    
<!--Start header area-->  
<header class="header">
    <div class="container">
        <div class="clearfix">
            <div class="logo pull-left">
                <a href="index.html">
                    <img src="img/resources/logo.png" alt="Awesome Image">
                </a>    
            </div>
            <div class="header-right pull-right clearfix">                    
                <div class="header-searchbar pull-right">
                    <div class="nav-toggler-box ">
                        <button type="button" data-toggle="collapse" data-target="#mainNavWrapper" aria-expanded="true" aria-controls="mainNavWrapper">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                    <form class="search-form" action="#">
                        <input type="text" placeholder="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>    
                </div>

                <div class="nav-footer collapse pull-right" id="mainNavWrapper">
                    <ul>
                        <li class="dropdown">
                            <a href="index.html">Home</a>
                            <ul class="submenu">
                                <li><a href="index.html">Home One</a></li>
                                <li><a href="index2.html">Home Two</a></li>
                                <li><a href="index3.html">Home Three</a></li>
                            </ul>
                        </li>
                        <li><a href="about.html">ABOUT US</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li class="dropdown">
                            <a href="event-grid.html">Events</a>
                            <ul class="submenu">
                                <li><a href="event-grid.html">Event Grid</a></li>
                                <li><a href="event-list.html">Event List</a></li>
                                <li><a href="event-schedule.html">Event Schedule</a></li>
                                <li><a href="single-event.html">Single Event</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#">Pages</a>
                            <ul class="submenu">
                                <li><a href="pricing.html">Pricing</a></li>
                                <li><a href="faq.html">Faq</a></li>
                                <li><a href="cooming-soon.html">Cooming Soon</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="blog.html">Blog</a>
                            <ul class="submenu">
                                <li><a href="blog.html">Blog One</a></li>
                                <li><a href="blog-left.html">Blog Two</a></li>
                                <li><a href="blog-two-col.html">Blog Three</a></li>
                                <li><a href="blog-three-col.html">Blog Four</a></li>
                                <li><a href="blog-single.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">CONTACT</a></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</header>
<!--End header area-->  
    
<!--Start breadcrumb area-->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Contact Us</h1>
                <h4>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit</h4>
            </div>
        </div>
    </div>
</section> 
<!--End breadcrumb area-->
    
<!--Start contact info area-->
<section class="contact-info-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="contact-info">
                    <ul>
                        <li class="clearfix">
                            <div class="icon-holder">
                                <img src="img/contact/icon-1.png" alt="">
                            </div>
                            <div class="text">
                                <h6>127 Sith Avenue, 54571 New York City </h6>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="icon-holder">
                                <img src="img/contact/icon-2.png" alt="">
                            </div>
                            <div class="text">
                                <h6>+234 817 740 1893</h6>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="icon-holder">
                                <img src="img/contact/icon-3.png" alt="">
                            </div>
                            <div class="text">
                                <h6>info@afronevents.com</h6>
                            </div>
                        </li>
                    </ul>    
                </div>        
            </div>    
        </div>    
    </div>
</section>
<!--End contact info area-->
    
<!--Start google map area-->
<section class="google-map-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="google-map" id="contact-page-google-map" data-icon-path="img/resources/map-marker.png" data-map-lat="40.735921" data-map-lng="-74.172231" data-map-zoom="10" data-map-title="Envato HQ"></div>   
            </div>
        </div>
    </div>
</section>   
<!--End google map area-->
    
<!--Start contact form area-->
<section class="contact-form-area">
    <div class="container">
        <form class="contact-form cf-validation" action="inc/sendemail.php">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="field-label">Name<span class="req">*</span></div>
                    <input type="text" name="name" placeholder="enter your name">
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="field-label">EMAIL ADDRESS<span class="req">*</span></div>
                    <input type="text" name="email" placeholder="enter your email">
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="field-label">pHONE NUMBER</div>
                    <input type="text" name="phone" placeholder="enter your phone number">
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="field-label">sUBJECT<span class="req">*</span></div>
                    <input type="text" name="subject" placeholder="subject">
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <div class="field-label">mESSAGE<span class="req">*</span></div>
                    <textarea name="message" placeholder="write a message"></textarea>
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <button type="submit" name="submit" class="send-message">SEND MESSAGE<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
</button>
                </div>
                
            </div>
        </form>
    </div>
</section>
        
<!--End contact form area-->
    
{% endblock %}